---
layout: default
title: Components | Gengo style guide
permalink: /components.html
---
<div class="container">
  <div class="row">
    <div class="col-xs-2 ge-nav">
      <ul class="nav nav nav-pills nav-stacked ge-nav-stacked ge-dark">
        <li class="active"><a href="#navs">Navs</a></li>
        <li><a href="#navbar">Navbar</a></li>
        <li><a href="#breadcrumb">Breadcrumb</a></li>
        <li><a href="#pagination">Pagination</a></li>
        <li><a href="#dropdowns">Dropdowns</a></li>
        <li><a href="#buttons">Buttons</a></li>
        <li><a href="#buttons-groups">Buttons groups</a></li>
        <li><a href="#buttons-dropdowns">Buttons dropdowns</a></li>
        <li><a href="#tables">Tables</a></li>
        <li><a href="#forms">Forms</a></li>
        <li><a href="#editable-text">Editable text</a></li>
        <li><a href="#supported-controls">Supported controls</a></li>
        <li><a href="#validation-states">Validation states</a></li>
        <li><a href="#control-sizing">Control sizing</a></li>
        <li><a href="#labels">Labels</a></li>
        <li><a href="#badges">Badges</a></li>
        <li><a href="#alerts">Alerts</a></li>
        <li><a href="#progress-bar">Progress bar</a></li>
        <li><a href="#helper-classes">Helper classes</a></li>
      </ul>
    </div>

    <div class="col-xs-10 ge-content">
      {% include components/navs.html  %}
      {% include components/navbar.html  %}
      {% include components/breadcrumb.html  %}
      {% include components/pagination.html  %}
      {% include components/dropdowns.html  %}
      {% include components/buttons.html  %}
      {% include components/buttons-groups.html  %}
      {% include components/buttons-dropdowns.html  %}
      {% include components/tables.html  %}
      {% include components/forms.html  %}
      {% include components/editable-text.html  %}
      {% include components/supported-controls.html  %}
      {% include components/validation-states.html  %}
      {% include components/control-sizing.html  %}
      {% include components/labels.html  %}
      {% include components/badges.html  %}
      {% include components/alerts.html  %}
      {% include components/progress-bar.html  %}
      {% include components/helper-classes.html %}
    </div>
  </div>
</div>
