---
layout: default
title: Components | Gengo style guide
permalink: /voice.html
---
<div class="container">
  <div class="row">
    <div class="col-xs-2 ge-nav">
      <ul class="nav nav nav-pills nav-stacked ge-nav-stacked ge-dark">
        <li class="active"><a href="#core-values">Core values</a></li>
        <li><a href="#brand-statements">Brand statements</a></li>
        <li><a href="#brand-character">Brand character</a></li>
        <li><a href="#users">Users</a></li>
        <li><a href="#voice-and-tone">Voice and tone</a></li>
        <li><a href="#style-guide">Style guide</a></li>
      </ul>
      {% include _template/back-to-top-btn.html %}
    </div>

    <div class="col-xs-10 ge-content">
      {% include voice/core-values.html %}
      {% include voice/brand-statements.html %}
      {% include voice/brand-character.html %}
      {% include voice/users.html %}
      {% include voice/voice-and-tone.html %}
      {% include voice/style-guide.html %}
    </div>
  </div>
</div>
