.alert {
  background-color: $alert-bg-color;
  color: $alert-text-color;
  font-size: $alert-font-size;
  margin-bottom: 14px;
  padding: $alert-padding;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .2);
  position: relative;

  > [class^="icon-"] {
    position: absolute;
    top: 50%;
    left: 24px;
    margin-top: ($alert-icon-size / 2) - $alert-icon-size;
    font-size: $alert-icon-size;
    line-height: $alert-icon-size;
  }
  .icon-warning {
    color: $alert-warning-text;
  }
  .icon-error {
    color: $alert-error-text;
  }
  .icon-validation {
    color: $alert-validation-text;
  }

  .close,
  .icon-close {
    font-size: $alert-close-size;
    line-height: $alert-close-size;
    color: $alert-close-color;
    text-shadow: none;
  }
  .close {
    position: absolute;
    float: none;
    top: 50%;
    right: 18px;
    margin-top: ($alert-close-size / 2) - $alert-close-size;
  }

  p {
    padding: 0 0 0 40px;
  }

  a,
  a:hover,
  a:focus {
    color: $alert-text-color;
    text-decoration: underline;
  }
}

.alert-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: $alert-overlay-padding;
  width: 100%;
  min-height: $navbar-height;
  border: 0;
  border-radius: 0;
  line-height: $alert-overlay-line-height;
  transition: top .2s linear;
  box-shadow: none;

  &.alert-success .icon-alert-status {
    @extend .icon-success;
    color: $gengo-green;
  }
  &.alert-warning .icon-alert-status {
    @extend .icon-warning;
    color: $alert-warning-text;
  }
  &.alert-error .icon-alert-status {
    @extend .icon-error;
    color: $alert-error-text;
  }
}
