.alert {
  background-color: $alert-bg-color;
  color: $alert-text-color;
  font-size: $alert-font-size;
  padding: $alert-padding;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .2);
  [class^="icon-"] {
    font-size: $alert-icon-size;
  }
  .icon-warning {
    color: $alert-warning-text;
  }
  .icon-error {
    color: $alert-error-text;
  }
  .icon-validation {
    color: $alert-validation-text;
  }
  .close span {
    color: $alert-close-button-color;
    text-shadow: none;
  }
  a,
  a:hover,
  a:focus {
    color: $alert-text-color;
    text-decoration: underline;
  }
  &.alert-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 12px 24px 12px 33px;
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 0;
    font-size: $alert-overlay-text;
    line-height: $alert-overlay-lineheight;
    opacity: 1;
    transition: top .2s linear;
    .icon-warning,
    .icon-error,
    .icon-validation {
      float: left;
      font-size: $alert-overlay-icon;
    }
    span {
      float: left;
      margin-left: 14px;
    }
  }
}
.alert-container {
  position: relative;
}
