.list-group.ge-list {
  border: 0;
  a.list-group-item {
    border: 0;
    background-color: transparent;
    &:hover {
      color: $gengo-green;
    }
    &.active {
      color: $gengo-green;
      background-color: $list-group-hover-bg;
    }
    .badge {
      background-color: transparent;
      color: $text-color;
      font-weight: normal;
      border-radius: 0;
    }
  }
  &.ge-dark {
    background-color: $body-bg;
    a.list-group-item {
      &:hover,
      &.active {
        background-color: $component-active-color;
      }
    }
  }
}

.customer .list-group.ge-list a.list-group-item {
  color: $list-group-link-color;
  &:hover,
  &.active {
    color: $brand-customer;
  }
}

.translator .list-group.ge-list a.list-group-item {
  color: $list-group-link-color;
  &:hover,
  &.active {
    color: $brand-translator;
  }
}

.developer .list-group.ge-list a.list-group-item {
  color: $list-group-link-color;
  &:hover,
  &.active {
    color: $brand-developer;
  }
}

.admin .list-group.ge-list a.list-group-item {
  color: $list-group-link-color;
  &:hover,
  &.active {
    color: $brand-admin;
  }
}
