.btn-group > .btn {
  [class^="icon-"],
  [class*=" icon-"] {
    font-size: 9px;
  }

  // Give the line between buttons some depth
  + .dropdown-toggle {
    border-left-color: #000; // IE8 fallback
    border-left-color: rgba(0, 0, 0, .08);
  }
}

.btn-group-xs > .btn {
  padding-right: 8px;
  padding-left: 8px;
  font-size: $font-size-small;
  line-height: 16px;
}

.btn-group-sm > .btn {
  font-size: $font-size-base;
  line-height: 17px;
  padding: 5px 12px 6px;
}

.btn-group-lg > .btn {
  font-size: $font-size-large;
  line-height: 19px;
  padding: 10px 16px 11px;
}

.btn-group.btn-group-justified {
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    border-left: 0;
  }
}
