//
// Variables
// --------------------------------------------------

$btn-darken-percent: 7%;

//
// Mixins
// --------------------------------------------------

@mixin add-active($color) {
    &:active,
    &.active,
    &.active:hover {
        border-color: $color;
        background-color: $color;
        background-image: none;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.12);
    }
}

@mixin get-btn-base($btn-color, $btn-bg, $btn-border, $section-color) {
    @include button-variant($btn-color, $btn-bg, $btn-border);
    @include gradient-vertical($section-color, darken($section-color, 6%), 0%, 100%);
    &:hover,
    &:focus {
        @include gradient-vertical(darken($section-color, 6%), darken($section-color, 12%), 0%, 100%);
        border-color: darken($section-color, 6%);
    }
}

//
// Buttons
// --------------------------------------------------

// Common styles
.btn {
    // padding: 7px 14px;
    // Remove the gradient for the pressed/active state
    &:active,
    &.active {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        @include opacity(0.6);
    }
}

// Buttons sizes
.btn {
    padding: 6px 14px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: $font-size-large;
}

.btn-sm {
    padding: 4px 13px;
    font-size: $font-size-base;
}

.btn-xs {
    padding: 2px 8px;
    font-size: $font-size-small;
}

a,
.btn-link {
    color: $link-color;
    &:hover {
        color: $link-hover-color;
    }
}

.btn-default {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
    @include gradient-vertical(white, darken(white, 6%), 0%, 100%);
    &:hover,
    &:focus {
        @include gradient-vertical(darken(white, 3%), darken(white, 9%), 0%, 100%);
        border-color: darken(#dddddd, 12%);
    }
}

.btn-primary {
    @include get-btn-base($btn-primary-color, $btn-primary-bg, $btn-primary-border, $brand-primary);
}

.btn-success {
    @include get-btn-base($btn-success-color, $btn-success-bg, $btn-success-border, $brand-success);
}

.btn-info {
    @include get-btn-base($btn-info-color, $btn-info-bg, $btn-info-border, $brand-info);
}

.btn-warning {
    @include get-btn-base($btn-warning-color, $btn-warning-bg, $btn-warning-border, $brand-warning);
}

.btn-danger {
    @include get-btn-base($btn-danger-color, $btn-danger-bg, $btn-danger-border, $brand-danger);
}

.translator {
    .btn-primary {
        @include get-btn-base($btn-translator-color, $btn-translator-bg, $btn-translator-border, $brand-translator);
    }
    a, .btn-link {
        color: $link-translator-color;
        &:hover {
            color: $link-translator-hover-color;
        }
    }
}

.developer {
    .btn-primary {
        @include get-btn-base($btn-developer-color, $btn-developer-bg, $btn-developer-border, $brand-developer);
    }
    a, .btn-link {
        color: $link-developer-color;
        &:hover {
            color: $link-developer-hover-color;
        }
    }
}
