// ------ navbar  ---------------------------------------

.nav .dropdown.open > a {
  border-color: transparent;
}

.nav .dropdown > a:hover,
.nav .dropdown > a:focus,
.nav .dropdown > a:active {
  border-bottom-color: $table-border-color;
}

// ------ regular dropdown ---------------------------------------

.dropdown-menu {
  min-width: 120px;
  border-radius: $dropdown-border-radius;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .15);
}

.dropdown-header {
  font-size: $dropdown-header-font-size;
}

.multiselect-container {
  &.dropdown-menu {
    min-width: 240px;
    padding: 6px;
    li {
      margin-bottom: 3px;
      > a {
        padding: 3px 0;
        > label {
          padding-left: 30px;
          input {
            margin-left: -23px;
          }
        }
      }
    }
    .active > a,
    .active > a:hover,
    .active > a:active {
      background-color: $gengo-green;
      border-radius: $dropdown-border-radius;
      label {
        color: #fff;
      }
    }
  }
  .input-group-addon {
    display: none;
  }
  .input-group {
    width: 216px;
    .multiselect-search {
      height: 30px;
      margin: 0;
      background-image: url("../images/search.png");
      background-repeat: no-repeat;
      background-position: right 3px bottom 6px;
      border-radius: $dropdown-border-radius;
    }
  }
}

.translator {
  .multiselect-container {
    &.dropdown-menu {
      .active > a,
      .active > a:hover,
      .active > a:active {
        background-color: $brand-translator;
      }
    }
  }
}
.developer {
  .multiselect-container {
    &.dropdown-menu {
      .active > a,
      .active > a:hover,
      .active > a:active {
        background-color: $brand-developer;
      }
    }
  }
}
.admin {
  .multiselect-container {
    &.dropdown-menu {
      .active > a,
      .active > a:hover,
      .active > a:active {
        background-color: $brand-admin;
      }
    }
  }
}
