// ------ navbar  ---------------------------------------

.nav .dropdown.open > a {
  border-color: transparent;
}

.nav .dropdown > a:hover,
.nav .dropdown > a:focus,
.nav .dropdown > a:active {
  border-bottom-color: $table-border-color;
}


// ------ regular dropdown ---------------------------------------

.dropdown-menu {
  min-width: 120px;
  border-radius: 5px;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);

  > li > a {
    color: $text-color;
  }
}
.multiselect-container{
  &.dropdown-menu{
    min-width:240px;
    padding:6px;
    li{
      margin-bottom: 3px;
    }
    .active > a,
    .active > a:hover,
    .active > a:active,
    {
      background-color: #1CAD7E;
      border-radius:5px;
      label{
        color:#fff;
      }
    }
    li > a > label{
      padding-left:30px;
      input{
        margin-left:-23px;
      }
    }
  }
  .input-group-addon{
    display:none;
  }
  .input-group{
    width:206px;
    .multiselect-search{
      border-radius: 5px;
      margin:0;
      margin-left:14px;
      background-image:url(../images/search.png);
      background-position: right 3px bottom 6px;
      background-repeat:no-repeat;
      height:30px;
    }
  }
}
