.editable-buttons {
  margin-left: 6px;

  .btn-sm {
    width: $editable-control-height;
    padding: 3px 8px;
  }
  .glyphicon-ok,
  .glyphicon-remove {
    font-family: "icomoon";
  }
  .glyphicon-ok {
    @extend .icon-check;
  }
  .glyphicon-remove {
    @extend .icon-close;
  }
}

.editable-input {
  input {
    &.form-control {
      min-width: $editable-control-width;
      height: $editable-control-height;
      color: $editable-input-color;
    }
    &.tt-hint {
      color: $gengo-gray-light;
    }
  }
  select {
    color: #333;
    &.form-control {
      min-width: 58px;
      height: $editable-control-height;
    }
  }
  textarea {
    min-width: 377px;
    min-height: 76px;
  }
  label {
    font-weight: normal;
  }
  // select2
  .select2-container-multi.select2-container-active .select2-choices {
    border-color: $editable-border-color;
    -webkit-box-shadow: 0;
    box-shadow: 0;
  }
}

.editable-click,
a.editable-click,
a.editable-click:hover {
  border-bottom-color: $brand-customer;
}

.editable.editable-click.editable-empty {
  border-bottom-color: $editable-empty-color;
}

.editable-error-block {
  text-align: left;
}

.has-error {
  position: relative;
  > div {
    display: inline-block;
    vertical-align: middle;
    &:first-child {
      margin-right: 10px;
    }
  }
}

a[data-placeholder="Required"] ~ .editable-inline {
  .has-error {
    > div {
      &:first-child {
        margin-right: 0;
      }
    }
  }
}

.control-group.form-group {
  text-align: left;
}

// overwrite image path which is
// used in 'x-editable' plugin
.editableform-loading {
  background-image: url("../images/loading.gif");
}

.editable-clear-x {
  background: url("../images/clear.png");
}

[data-type="checklist"] ~ .editable-inline .editable-buttons {
  display: block;
  margin-left: 0;
}

//
// twitter typeheadjs
// --------------------------------------------------

.tt-hint {
  @extend .form-control;
  border-width: 1px;
  color: $gengo-gray-light;
}

.tt-dropdown-menu {
  width: $editable-control-width;
}

.tt-suggestion.tt-is-under-cursor {
  margin: 0 5px;
  color: $editable-cursored-color;
  background-color: $brand-customer;
  background-image: none !important;
  filter: none;
  border-radius: $editable-border-radius;
}


//
// select2
// --------------------------------------------------
.select2-container-multi {
  .select2-choices {
    height: $editable-control-height !important;
    color: $input-color;
    background: $input-bg;
    border-color: $input-border;
    border-radius: $editable-border-radius;

    .select2-search-choice {
      margin-top: 4px;
      background: #fff;
      border-color: $input-border;
      box-shadow: none;
      color: $text-color;
      font-size: $font-size-small;

      .select2-search-choice-close {
        top: 50%;
        margin-top: -7px;
      }
    }
  }
  &.select2-container-active .select2-choices {
    border-color: $editable-border-color;
  }
}

.select2-results .select2-highlighted {
  background-color: $brand-customer;
  border-radius: $editable-border-radius;
}

.select2-dropdown-open .select2-choices {
  @include border-top-radius($editable-border-radius);
  @include border-bottom-radius(0);
  border-color: $editable-border-color;
  border-bottom: 0;
}

.select2-drop-active {
  border-color: $editable-border-color;
  border-top: 0;
}

.select2-container {
  .select2-choice {
    height: $editable-control-height;
    background: $input-bg;
    color: $text-color;
    border-color: $input-border;
    padding-left: $padding-base-horizontal;

    > span {
      height: $editable-control-height;
    }

    .select2-search-choice-close {
      @extend .editable-clear-x;
      top: 50%;
      width: 13px;
      height: 13px;
      right: 18px;
      margin-top: -7px;
      background-repeat: no-repeat;
      background-size: 13px 13px;
    }

    .select2-arrow {
      border: 0;
      background: transparent;
    }
  }
}

.select2-container-active {
  .select2-choice,
  .select2-choices {
    border-color: $brand-customer;
  }
}

//
// combodate
// --------------------------------------------------
[data-type="combodate"] + span {
  min-height: $editable-control-height;
  padding-top: 5px;
}

//
// switch colors
// --------------------------------------------------
.customer {
  .editable-click,
  a.editable-click,
  a.editable-click:hover {
    border-bottom-color: $brand-customer;
  }
  .tt-suggestion.tt-is-under-cursor {
    background-color: $brand-customer;
  }
  .select2-results .select2-highlighted {
    background-color: $brand-customer;
  }
  .select2-container-active {
    .select2-choice,
    .select2-choices {
      border-color: $brand-customer;
    }
  }
  .editable.editable-click.editable-empty {
    color: $editable-empty-color;
    border-bottom-color: $editable-empty-color;
  }
}

.translator {
  .editable-click,
  a.editable-click,
  a.editable-click:hover {
    border-bottom-color: $brand-translator;
  }
  .tt-suggestion.tt-is-under-cursor {
    background-color: $brand-translator;
  }
  &.select2-results .select2-highlighted {
    background-color: $brand-translator;
  }
  .select2-container-active {
    .select2-choice,
    .select2-choices {
      border-color: $brand-translator;
    }
  }
  .editable.editable-click.editable-empty {
    color: $editable-empty-color;
    border-bottom-color: $editable-empty-color;
  }
}

.developer {
  .editable-click,
  a.editable-click,
  a.editable-click:hover {
    border-bottom-color: $brand-developer;
  }
  .tt-suggestion.tt-is-under-cursor {
    background-color: $brand-developer;
  }
  .select2-results .select2-highlighted {
    background-color: $brand-developer;
  }
  .select2-container-active {
    .select2-choice,
    .select2-choices {
      border-color: $brand-developer;
    }
  }
  .editable.editable-click.editable-empty {
    color: $editable-empty-color;
    border-bottom-color: $editable-empty-color;
  }
}

.admin {
  .editable-click,
  a.editable-click,
  a.editable-click:hover {
    border-bottom-color: $brand-admin;
  }
  .tt-suggestion.tt-is-under-cursor {
    background-color: $brand-admin;
  }
  .select2-results .select2-highlighted {
    background-color: $brand-admin;
  }
  .select2-container-active {
    .select2-choice,
    .select2-choices {
      border-color: $brand-admin;
    }
  }
  .editable.editable-click.editable-empty {
    color: $editable-empty-color;
    border-bottom-color: $editable-empty-color;
  }
}
