input[type="file"] {
  margin: 10px 0;
  font-size: $input-file-font-size;
  line-height: 14px;
}

.form-group {
  margin-bottom: 12px;
}

.form-inline {
  .form-group {
    margin-right: 6px;
  }
  .checkbox {
    label {
      padding-right: 10px;
      padding-left: 0;
    }
  }
}

.form-control {
  @include box-shadow(none);
  border-top-color: darken($input-border, 7%);

  &:focus {
    @include box-shadow(none);
    border-color: $gengo-green;
    border-top-color: darken($gengo-green, 7%);
  }
}

.translator .form-control:focus {
  border-color: $brand-translator;
  border-top-color: darken($brand-translator, 7%);
}

.developer .form-control:focus {
  border-color: $brand-developer;
  border-top-color: darken($brand-developer, 7%);
}

.admin .form-control:focus {
  border-color: $brand-admin;
  border-top-color: darken($brand-admin, 7%);
}

.form-search .form-control {
  @extend .search-input-icon;
  padding-right: 24px;
}

.form-category {
  [class*="col-"] {
    padding-right: 0;
    padding-left: 10px;
  }
  [class*="col-"]:first-child {
    padding-left: 2px;
  }
  label {
    font-weight: normal;
    + input {
      margin-bottom: 17px;
    }
  }
  .form-group {
    padding-top: 24px;
    padding-bottom: 12px;
    border-top: 1px solid $input-border;
    &:first-child {
      margin-bottom: 17px;
      border: 0;
    }
  }
  .form-category-title {
    font-weight: $font-bold;
  }
}
