.radio,
.checkbox {
  margin-top: 14px;
  margin-bottom: 0;
}

input[type="file"] {
  margin: 10px 0;
  font-size: $input-file-font-size;
  line-height: 14px;
}

.form-group {
  margin-bottom: 12px;
}

.form-inline {
  .form-group {
    margin-right: 10px;
  }
  .checkbox {
    label {
      padding-right: 10px;
      padding-left: 0;
    }
  }
}

.form-control {
  @include box-shadow(none);
  &:focus {
    @include box-shadow(none);
    border-color: $gengo-green;
  }
}

.translator .form-control:focus {
  border-color: $brand-translator;
}

.developer .form-control:focus {
  border-color: $brand-developer;
}

.admin .form-control:focus {
  border-color: $brand-admin;
}

.form-search {
  @extend .icon-search;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    right: 8px;
    bottom: 0;
    left: auto;
    margin: auto;
    height: 58%;
    font-family: "icomoon";
    color: #c8c6c5;
  }

  .form-control {
    padding-right: 24px;
  }
}

.form-category {
  [class*="col-"] {
    padding-right: 0;
    padding-left: 10px;
  }
  [class*="col-"]:first-child {
    padding-left: 2px;
  }
  label {
    font-weight: normal;
    + input {
      margin-bottom: 17px;
    }
  }
  .form-group {
    padding-top: 24px;
    padding-bottom: 12px;
    border-top: 1px solid $input-border;
    &:first-child {
      margin-bottom: 17px;
      border: 0;
    }
  }
  .form-category-title {
    font-weight: $font-bold;
  }
}
