@use "sass:math";
@use "sass:map";

// centered columns styles
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  // reset the text-align
  text-align: left;
  // inline-block space fix
  margin-right: -4px;
}

.box {
  padding-right: math.div($grid-gutter-width, 2);
  padding-left: math.div($grid-gutter-width, 2);
  padding-bottom: 21px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: $box-shadow;
  margin-bottom: 36px;

  @media (min-width: map.get($grid-breakpoints, "md")) {
    padding-right: $grid-gutter-width;
    padding-left: $grid-gutter-width;
  }
}

.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
}

// Grid colum customise
[class*="col-"] {
  padding-right: 12px;
  padding-left: 12px;
}
@media (min-width: map.get($grid-breakpoints, "md")) {
  [class*="col-"] {
    padding-right: math.div($grid-gutter-width, 2);
    padding-left: math.div($grid-gutter-width, 2);
  }
}
