// ----------------------------------------------------------------------------------
// Font icons
// ----------------------------------------------------------------------------------
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?gkddpb");
  src: url("../fonts/icomoon.eot?#iefixgkddpb") format("embedded-opentype"),
       url("../fonts/icomoon.woff?gkddpb") format("woff"),
       url("../fonts/icomoon.ttf?gkddpb") format("truetype"),
       url("../fonts/icomoon.svg?gkddpb#icomoon") format("svg");
}

[class^="icon-"],
[class*=" icon-"] {
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "icomoon";
  line-height: 1;
  speak: none;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:focus,
  &:active,
  &.active {
    outline: 0 !important;
  }
}

.icon-success:before {
  content: "\56";
}
.icon-more:before {
  content: "\2a";
}
.icon-activity:before {
  content: "\61";
}
.icon-archive:before {
  content: "\41";
}
.icon-check:before {
  content: "\63";
}
.icon-circle:before {
  content: "\6f";
}
.icon-close:before {
  content: "\78";
}
.icon-create:before {
  content: "\43";
}
.icon-database:before {
  content: "\62";
}
.icon-download:before {
  content: "\44";
}
.icon-download2:before {
  content: "\4c";
}
.icon-edit:before {
  content: "\21";
}
.icon-email:before {
  content: "\45";
}
.icon-error:before {
  content: "\65";
}
.icon-file:before {
  content: "\3a";
}
.icon-flag:before {
  content: "\46";
}
.icon-expand:before {
  content: "\2e";
}
.icon-funnel:before {
  content: "\59";
}
.icon-global:before {
  content: "\67";
}
.icon-half:before {
  content: "\48";
}
.icon-hold:before {
  content: "\2d";
}
.icon-horizontal:before {
  content: "\68";
}
.icon-info:before {
  content: "\69";
}
.icon-locked:before {
  content: "\6c";
}
.icon-memory:before {
  content: "\6d";
}
.icon-menu:before {
  content: "\4e";
}
.icon-comment:before {
  content: "\4d";
}
.icon-minimize:before {
  content: "\2c";
}
.icon-notification:before {
  content: "\6e";
}
.icon-next:before {
  content: "\3e";
}
.icon-play:before {
  content: "\50";
}
.icon-settings:before {
  content: "\53";
}
.icon-previous:before {
  content: "\3c";
}
.icon-print:before {
  content: "\70";
}
.icon-refresh:before {
  content: "\72";
}
.icon-search:before {
  content: "\66";
}
.icon-share:before {
  content: "\2f";
}
.icon-star:before {
  content: "\3b";
}
.icon-start:before {
  content: "\5f";
}
.icon-tooltip:before {
  content: "\71";
}
.icon-transfer:before {
  content: "\54";
}
.icon-trash:before {
  content: "\64";
}
.icon-unlocked:before {
  content: "\55";
}
.icon-user:before {
  content: "\75";
}
.icon-validation:before {
  content: "\56";
}
.icon-vertical:before {
  content: "\76";
}
.icon-warning:before {
  content: "\77";
}
.icon-top {
  transform: rotate(-90deg);
  &:before {
    content: "\3e";
  }
}
.icon-down {
  transform: rotate(90deg);
  &:before {
    content: "\3e";
  }
}

.search-input-icon {
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: right 8px bottom 6px;
}
