.label-primary {
  background-color: $gengo-green;
}
.label-translator {
  background-color: $label-translator-bg;
}
.label-developer {
  background-color: $label-developer-bg;
}
.label-lemon {
  background-color: $gengo-lemon;
}
.label-lgreen {
  background-color: $gengo-lime-green;
}
.label-yellow {
  background-color: $gengo-yellow;
}
