@mixin get-image($path, $ext: "png", $w: auto, $h: auto) {
  $at1x-path: "#{$path}.#{$ext}";
  $at2x-path: "#{$path}@2x.#{$ext}";

  object-fit: contain;
  width: $w;
  height: $h;
  background-image: url("#{$at1x-path}");
  background-repeat: no-repeat;
  background-size: $w $h;
}
