.modal-content {
  padding: 32px 36px 36px;
  border: 0;
  box-shadow: 0 0 8px rgba(0,0,0,.4);

  .close {
    position: absolute;
    top: 13px;
    right: 13px;
  }
  .modal-header {
    margin: 0 0 12px 0;
    padding: 0;
    border: 0;
  }
  .modal-header .modal-title {
    margin: 0;
    font-weight: $semibold;
    font-size: 28px;
    line-height: 36px;
  }
  .modal-body {
    margin-bottom: 20px;
    padding: 0;
    line-height: 21px;

    textarea {
      margin-top: 18px;
    }
  }
  .modal-footer {
    padding: 0;
    border: 0;
  }
}
