.ge-nav-fill {
  .nav-item {
    flex: 1 1 100%;
    text-align: left;
  }
}

// Pills
// -------------------------
.nav-pills.ge-nav-stacked {
  > li {
    // Links rendered as pills
    > a {
      display: inline-block;
      padding: $padding-base-y $padding-base-x;
    }
  }
  &.ge-nav-stacked > li {
    > a {
      display: inline-block;
      color: $list-group-color;
      &:hover,
      &:focus {
        color: $gengo-green;
      }
    }
    // Active state
    & > a.active {
      &,
      &:hover,
      &:focus {
        color: $list-group-hover-bg;
        background-color: $gengo-green;
      }
    }
    // Badge
    .badge,
    &.active .badge {
      padding: 4px;
      font-size: $list-group-badge-font-size;
      font-weight: $font-weight-normal;
      line-height: $line-height-base;
      color: $body-color;
      background-color: transparent;
      border-radius: 0;
    }
  }
  // dark background
  &.ge-nav-stacked.ge-dark > li {
    > a {
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
    & > a.active {
      &,
      &:hover,
      &:focus {
        background-color: $component-active-color;
      }
    }
  }
}

.customer {
  .nav-pills {
    > li > a.active {
      a:hover,
      a:focus {
        background-color: $brand-customer;
      }
    }
  }
}

.translator {
  .nav-pills {
    > li > a.active {
      a:hover,
      a:focus {
        background-color: $brand-translator;
      }
    }
  }
}

.developer {
  .nav-pills {
    > li > a.active {
      a:hover,
      a:focus {
        background-color: $brand-developer;
      }
    }
  }
}

.admin {
  .nav-pills {
    > li > a.active {
      a:hover,
      a:focus {
        background-color: $brand-admin;
      }
    }
  }
}
