$navbar-background-color: #fff;

.navbar {
  border-bottom: 1px solid $table-border-color;
  background-color: $navbar-background-color;

  > .container-fluid {
    padding-left: 0;

    .navbar-brand {
      margin: 0;
    }
  }


  .nav {
    // li:first-child { margin-left: 17px; }

    a {
      margin: 0 17px;
      padding: 14px 0 10px 0;
      border-bottom: solid 3px $navbar-background-color;
      color: $text-color;
      transition: border-bottom-color 0.3s ease;

      &:hover {
        border-bottom-color: $brand-customer;
        background-color: transparent;
      }

      @media (max-width: $grid-float-breakpoint) {
        margin: 0 13px;
        padding-right: 13px;
        padding-left: 13px;
        border-bottom: 0;
        border-radius: 3px;
        color: #fff;
        transition: none;
      }
    }

    .active a {
      border-bottom-color: $brand-customer;
    }
  }

  .navbar-brand {
    background-color: $brand-customer;
  }

  .navbar-toggle .icon-bar {
    background-color: #fff;
  }
}

.customer .navbar {
  @media (max-width: $grid-float-breakpoint) {
    background-color: $brand-customer;
  }

  .nav {
    a:hover,
    .active a {
      border-bottom-color: $brand-customer;

      @media (max-width: $grid-float-breakpoint) {
        background-color: #199B71;
      }
    }
  }

  .navbar-brand {
    background-color: $brand-customer;
  }
}

.translator .navbar {
  @media (max-width: $grid-float-breakpoint) {
    background-color: $brand-translator;
  }

  .nav {
    a:hover,
    .active a {
      border-bottom-color: $brand-translator;

      @media (max-width: $grid-float-breakpoint) {
        background-color: #89C1B7;
      }
    }
  }

  .navbar-brand {
    background-color: $brand-translator;
  }
}

.developer .navbar {
  @media (max-width: $grid-float-breakpoint) {
    background-color: $brand-developer;
  }
  .nav {
    a:hover,
    .active a {
      border-bottom-color: $brand-developer;

      @media (max-width: $grid-float-breakpoint) {
        background-color: #D25440;
      }
    }
  }

  .navbar-brand {
    background-color: $brand-developer;
  }
}

.admin .navbar {
  @media (max-width: $grid-float-breakpoint) {
    background-color: $brand-admin;
  }

  .nav  {
    a:hover,
    .active a {
      border-bottom-color: $brand-admin;

      @media (max-width: $grid-float-breakpoint) {
        background-color: #413C38;
      }
    }
  }

  .navbar-brand {
    background-color: $brand-admin;
  }
}

.workbench .navbar {
  background-color: $brand-admin;
  color: #A6A4A1;
  font-size: 13px;

  .border-left {
    border-left: 1px solid #716D69;
  }

  .nav  {
    padding: 0 22px;

    .navbar-text {
      padding: 0 12px;
    }

    a,
    a:hover,
    .active a {
      border-bottom: 0;
    }

    a {
      margin: 0;
      padding: 14px 8px 13px;
      color: #A6A4A1;
    }

    a:hover,
    .active a {
      background-color: #413C38;
    }

    .btn {
      font-size: 13px;
    }
  }


  .navbar-brand {
    background-color: $brand-admin;
  }

  .navbar-right { margin-right: 0; }
}
