// Pills
// -------------------------
.nav-pills.nav-stacked {
  > li {
    margin-bottom: -2px;

    // Links rendered as pills
    > a {
      color: $list-group-link-color;
      padding: 6px 12px;

      &:hover,
      &:focus {
        color: $gengo-green;
      }
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $gengo-green;
        background-color: $list-group-hover-bg;
      }
    }

    .badge,
    &.active .badge {
      background-color: transparent;
      color: $text-color;
      font-size: $list-group-badge-font-size;
      font-weight: $font-normal;
      line-height: $line-height-base;
      border-radius: 0;
      padding: 4px;
    }
  }

  // dark background
  &.ge-dark > li {
    &.active > a {
      &,
      &:hover,
      &:focus {
        background-color: $component-active-color;
      }
    }
  }
}

.customer {
  .nav-pills {
    > li.active {
      a,
      a:hover,
      a:focus {
        background-color: $brand-customer;
      }
    }
  }
}

.translator {
  .nav-pills {
    > li.active {
      a,
      a:hover,
      a:focus {
        background-color: $brand-translator;
      }
    }
  }
}

.developer {
  .nav-pills {
    > li.active {
      a,
      a:hover,
      a:focus {
        background-color: $brand-developer;
      }
    }
  }
}

.admin {
  .nav-pills {
    > li.active {
      a,
      a:hover,
      a:focus {
        background-color: $brand-admin;
      }
    }
  }
}
