//
// Mixins
// --------------------------------------------------

@mixin navbar-base($bg-color, $hove-clolr) {
  @media (max-width: $grid-float-breakpoint) {
    background-color: $bg-color;
  }

  .nav {
    a:hover,
    .active a {
      border-bottom-color: $bg-color;

      @media (max-width: $grid-float-breakpoint) {
        background-color: $hove-clolr;
      }
    }
  }
  .navbar-brand {
    background-color: $bg-color;
  }
}

@mixin vertical-align ($height, $parent-height: $navbar-height) {
  padding-top: ($parent-height - $height) * .5 + .5 !important;
  padding-bottom: ($parent-height - $height) * .5 - .5 !important;
  font-size: $height;
  line-height: $height;
}

//
// Navbar common
// --------------------------------------------------

$navbar-background-color: #fff !default;
$hover-dark-gray: #413c38 !default;

.navbar {
  border-bottom: 1px solid $table-border-color;
  background-color: $navbar-background-color;

  > .container-fluid {
    padding-right: 0;
    padding-left: 0;

    .navbar-brand {
      margin: 0 12px 0 0;
    }
  }

  .nav {
    > li {
      line-height: 21px;
    }

    a {
      margin: 0 17px;
      padding: 14px 0 10px;
      border-bottom: solid 3px $navbar-background-color;
      color: $text-color;
      transition: border-bottom-color .3s ease;

      @media (max-width: $grid-float-breakpoint) {
        margin: 0 13px;
        padding-right: 13px;
        padding-left: 13px;
        border-bottom: 0;
        border-radius: 3px;
        color: #fff;
        transition: none;
      }
    }

    .active a,
    a:hover {
      border-bottom-color: $brand-customer;
      background-color: $navbar-background-color;
    }
  }

  .navbar-brand {
    padding-top: 16px;
    padding-right: 26px;
    padding-bottom: 10px;
    padding-left: 29px;
    background-color: $brand-customer;
    font-size: 20px;
    line-height: 20px;

    &:before {
      display: block;
      width: 59px;
      height: 20px;
      background-image: url("../images/logo_gengo.svg");
      background-size: 59px 20px;
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
    }
  }

  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-form.navbar-right:last-child {
    margin-right: inherit;
  }

  .btn {
    margin: 9px 18px 0;
    font-size: 13px;
    line-height: 16px;
  }

  p {
    color: #a5a39f;
  }
}

//
// Customer
// --------------------------------------------------

.customer .navbar {
  @include navbar-base($brand-customer, #199b71);
}


.translator .navbar .navbar-brand,
.developer .navbar .navbar-brand,
.admin .navbar .navbar-brand {
  padding-right: 30px;
  padding-left: 30px;
}

//
// Translator
// --------------------------------------------------

.translator .navbar {
  @include navbar-base($brand-translator, #89c1b7);

  .navbar-brand {
    @include vertical-align(26px);

    &:before {
      width: 26px;
      height: 26px;
      background-image: url("../images/logo_translator.svg");
      background-size: 26px 26px;
    }
  }
}

//
// Developer
// --------------------------------------------------

.developer .navbar {
  @include navbar-base($brand-developer, #d25440);

  .navbar-brand {
    @include vertical-align(26px);

    &:before {
      width: 26px;
      height: 24px;
      background-image: url("../images/logo_developer.svg");
      background-size: 26px 26px;
    }
  }
}

//
// Admin
// --------------------------------------------------

.admin .navbar {
  @include navbar-base($brand-admin, $hover-dark-gray);

  .navbar-brand {
    @include vertical-align(27px);

    &:before {
      width: 27px;
      height: 27px;
      background-image: url("../images/logo_admin.svg");
      background-size: 27px 27px;
    }
  }
}

//
// Workbench
// --------------------------------------------------

$workbench-text-color: #a6a4a1 !default;
$workbench-border-color: #716d69 !default;
$workbench-icon-color: #837f7c !default;
$workbench-icon-active-color: #fff !default;

.workbench .navbar {
  border-bottom-color: $brand-workbench;
  background-color: $brand-workbench;
  color: $workbench-text-color;
  font-size: 13px;

  .border-left {
    border-left: 1px solid $workbench-border-color;
  }

  .nav {
    padding: 0 23px;

    .navbar-text {
      padding: 0 12px;
    }

    .navbar-brand {
      padding-right: 18px;
      padding-left: 18px;
      background-color: $brand-workbench;

      &:hover {
        background-color: $hover-dark-gray;
      }
    }

    a,
    a:hover,
    .active a {
      border-bottom: 0;
    }

    a {
      margin: 0;
      padding: 14px 8px 13px;
      background-color: $brand-workbench;
      color: $workbench-text-color;
    }

    > li > a:hover,
    .open > a:hover {
      background-color: $hover-dark-gray;

      &.disabled {
        background-color: transparent;
        cursor: default;
      }
    }

    .btn {
      font-size: 13px;
    }

    li > {
      [class^="icon-"],
      [class*=" icon-"] {
        color: #837f7c;

        &:hover,
        &.selected {
          color: $workbench-icon-active-color;

          &.disabled {
            color: #837f7c;
          }
        }
      }

      .icon-vertical,
      .icon-horizontal,
      .icon-expand {
        @include vertical-align(12px);
      }
      .icon-funnel {
        @include vertical-align(14px);
      }
      .icon-info,
      .icon-validation {
        @include vertical-align(16px);
      }
      .icon-memory {
        // this is special case to center the icon
        padding-top: 10.5px !important;
        padding-bottom: 15.5px !important;
        font-size: 22px;
        line-height: 22px;
      }
    }
  }

  .navbar-header .nav {
    padding: 0 12px;
  }

  .navbar-right {
    margin-right: 0;
    padding-right: $grid-gutter-width;

    .btn,
    .navbar-text {
      margin-left: 0;
      margin-right: 0;
    }
    .navbar-text {
      margin-right: 12px;
    }
  }

  .dropdown-menu {
    @include border-top-radius(1px);
    @include border-bottom-radius(2px);
    margin-top: 0;
    padding: 5px 0;
    min-width: 190px;
    border: 1px solid #433f3b;
    background-color: $brand-workbench;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .2);

    &:before,
    &:after {
      border-color: transparent;
    }

    .divider {
      background-color: #635e5a;
    }

    > li > a {
      position: relative;
      padding: 0 17px;
      color: #fff;
      line-height: 36px;

      &:hover {
        padding-bottom: 0;
        border-radius: 0;
        background-color: #322e2a;
      }

      .text {
        margin-right: 40px;
        text-align: right;
      }

      .count {
        position: absolute;
        right: 24px;
      }

      > i {
        margin-right: 12px;
        font-size: 12px;
        line-height: inherit;
      }
    }

    .section-text {
      padding: 0 24px;
      color: $workbench-text-color;
      font-size: 10px;
      line-height: 21px;
    }
  }
}
