$navbar-background-color: #fff;
$hover-dark-gray: #413C38;

.navbar {
  border-bottom: 1px solid $table-border-color;
  background-color: $navbar-background-color;

  > .container-fluid {
    padding-left: 0;

    .navbar-brand {
      margin: 0;
    }
  }

  .nav {
    // li:first-child { margin-left: 17px; }

    a {
      margin: 0 17px;
      padding: 14px 0 10px 0;
      border-bottom: solid 3px $navbar-background-color;
      color: $text-color;
      transition: border-bottom-color 0.3s ease;

      &:hover {
        border-bottom-color: $brand-customer;
        background-color: transparent;
      }

      @media (max-width: $grid-float-breakpoint) {
        margin: 0 13px;
        padding-right: 13px;
        padding-left: 13px;
        border-bottom: 0;
        border-radius: 3px;
        color: #fff;
        transition: none;
      }
    }

    .active a {
      border-bottom-color: $brand-customer;
    }
  }

  .navbar-brand {
    background-color: $brand-customer;
  }

  .navbar-toggle .icon-bar {
    background-color: #fff;
  }
}

.customer .navbar {
  @media (max-width: $grid-float-breakpoint) {
    background-color: $brand-customer;
  }

  .nav {
    a:hover,
    .active a {
      border-bottom-color: $brand-customer;

      @media (max-width: $grid-float-breakpoint) {
        background-color: #199B71;
      }
    }
  }

  .navbar-brand {
    background-color: $brand-customer;
  }
}

.translator .navbar {
  @media (max-width: $grid-float-breakpoint) {
    background-color: $brand-translator;
  }

  .nav {
    a:hover,
    .active a {
      border-bottom-color: $brand-translator;

      @media (max-width: $grid-float-breakpoint) {
        background-color: #89C1B7;
      }
    }
  }

  .navbar-brand {
    background-color: $brand-translator;
  }
}

.developer .navbar {
  @media (max-width: $grid-float-breakpoint) {
    background-color: $brand-developer;
  }
  .nav {
    a:hover,
    .active a {
      border-bottom-color: $brand-developer;

      @media (max-width: $grid-float-breakpoint) {
        background-color: #D25440;
      }
    }
  }

  .navbar-brand {
    background-color: $brand-developer;
  }
}

.admin .navbar {
  @media (max-width: $grid-float-breakpoint) {
    background-color: $brand-admin;
  }

  .nav  {
    a:hover,
    .active a {
      border-bottom-color: $brand-admin;

      @media (max-width: $grid-float-breakpoint) {
        background-color: $hover-dark-gray;
      }
    }
  }

  .navbar-brand {
    background-color: $brand-admin;
  }
}


//
// WORKBENCH
//
$workbecnh-text-color: #A6A4A1;

.workbench .navbar {
  background-color: $brand-admin;
  color: $workbecnh-text-color;
  font-size: 13px;

  .border-left {
    border-left: 1px solid #716D69;
  }

  .nav  {
    padding: 0 22px;

    .navbar-text {
      padding: 0 12px;
    }

    a,
    a:hover,
    .active a {
      border-bottom: 0;
    }

    a {
      margin: 0;
      padding: 14px 8px 13px;
      background-color: $brand-admin;
      color: $workbecnh-text-color;
    }

    > li > a:hover,
    .active > a,
    .open > a,
    .open > a:hover {
      background-color: $hover-dark-gray;
    }

    .btn {
      font-size: 13px;
    }
  }

  .navbar-header .nav {
    padding: 0 12px;
  }

  .navbar-brand {
    margin: 0 12px;
    padding-right: 18px;
    padding-left: 18px;
    background-color: $brand-admin;

    &:hover {
      background-color: $hover-dark-gray;
    }
  }

  .navbar-right { margin-right: 0; }

  .dropdown-menu {
    margin-top: 0;
    padding: 5px 0;
    min-width: 190px;
    border: 1px solid #433F3B;
    @include border-top-radius(1px);
    @include border-bottom-radius(2px);
    background-color: $brand-admin;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);

    &:before,
    &:after {
      border-color: transparent;
    }

    .divider {
      background-color: #635E5A;
    }

    > li > a {
      position: relative;
      padding:0 24px;
      min-width: 130px;
      color: #fff;
      line-height: 36px;

      &:hover{
        padding-bottom: 0;
        background-color: #322E2A;
      }

      .text {
        padding-left: 18px;
      }
    }

    .section-text {
      padding: 0 24px;
      color: $workbecnh-text-color;
      font-size: 10px;
      line-height: 21px;
    }
  }

}
