// Pills
// -------------------------
.nav-pills.nav-stacked {
  > li {
    margin-bottom: -2px;
    // Links rendered as pills
    > a {
      display: inline-block;
      padding: $padding-base-vertical $padding-base-horizontal;
    }
  }
  &.ge-nav-stacked > li {
    > a {
      display: block;
      color: $list-group-link-color;
      &:hover,
      &:focus {
        color: $gengo-green;
      }
    }
    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $gengo-green;
        background-color: $list-group-hover-bg;
      }
    }
    // Badge
    .badge,
    &.active .badge {
      padding: 4px;
      font-size: $list-group-badge-font-size;
      font-weight: $font-normal;
      line-height: $line-height-base;
      color: $text-color;
      background-color: transparent;
      border-radius: 0;
    }
  }
  // dark background
  &.ge-nav-stacked.ge-dark > li {
    > a {
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
    &.active > a {
      &,
      &:hover,
      &:focus {
        background-color: $component-active-color;
      }
    }
  }
}

.customer {
  .nav-pills {
    > li.active {
      a,
      a:hover,
      a:focus {
        background-color: $brand-customer;
      }
    }
  }
}

.translator {
  .nav-pills {
    > li.active {
      a,
      a:hover,
      a:focus {
        background-color: $brand-translator;
      }
    }
  }
}

.developer {
  .nav-pills {
    > li.active {
      a,
      a:hover,
      a:focus {
        background-color: $brand-developer;
      }
    }
  }
}

.admin {
  .nav-pills {
    > li.active {
      a,
      a:hover,
      a:focus {
        background-color: $brand-admin;
      }
    }
  }
}
