.progress-primary {
  background-color: $gengo-green;
}

.progress-secondary {
  background-color: $gengo-lemon;
}

.progress-translator {
  background-color: $brand-translator;
}

.progress-developer {
  background-color: $brand-developer;
}

.progress-translating {
  background-color: $gengo-blue;
}

.progress-submitted {
  background-color: $gengo-lemon;
}

.progress-error {
  background-color: $gengo-red;
}
