.translating .icon-status {
  @extend .icon-half;
  color: $gengo-blue;
}
.translated .icon-status {
  @extend .icon-circle;
  color: $gengo-blue;
}
.submitted .icon-status {
  @extend .icon-success;
  color: $gengo-lime-green;
}
.error .icon-status {
  @extend .icon-circle;
  color: $gengo-red;
}
.revising .icon-status {
  @extend .icon-circle;
  color: $gengo-yellow;
}
.hold .icon-status {
  @extend .icon-hold;
  color: $gengo-gray;
}
.approved .icon-status {
  @extend .icon-success;
  color: $gengo-green;
}
.rejected .icon-status {
  @extend .icon-error;
  color: $gengo-red;
}
.flagged .icon-status {
  @extend .icon-flag;
  color: $gengo-red;
}
