.translating .icon-status {
  color: $gengo-blue;
}
.translated .icon-status {
  color: $gengo-blue;
}
.submitted .icon-status {
  @extend .icon-success;
  color: $gengo-lime-green;
}
.error .icon-status {
  color: $gengo-red;
}
.revising .icon-status {
  color: $gengo-yellow;
}
.approved .icon-status {
  @extend .icon-success;
  color: $gengo-green;
}
.rejected .icon-status {
  @extend .icon-error;
  color: $gengo-red;
}
