.table {
  > thead > tr > th {
    padding-right: 0;
    padding-bottom: 7px;
    padding-left: 2px;
    font-size: $table-header-font-size;
    color: $gengo-gray-light;
    border-bottom-width: 1px;

    &.translator {
      padding-left: 32px;
      color: $link-translator-color;
      opacity: 1;
    }
    &.reward {
      text-align: right;
    }
  }
}

.table-dashboard {
  th:last-child,
  th:nth-last-child(2),
  th:nth-last-child(3),
  td:last-child,
  td:nth-last-child(2),
  td:nth-last-child(3) {
    padding-right: 0;
    text-align: right;
  }
  tr {
    .reward {
      font-weight: bold;
      text-align: right;
    }
    .text {
      padding-left: 32px;
      color: $text-color;
    }
  }
  .lang-from:after {
    width: 20px;
    height: 7px;
    padding-right: 20px;
    content: "";
    background: url("../images/to.png") 7px 7px no-repeat;
  }
  .reward {
    position: relative;
    right: 23px;
    padding-right: 0;
  }
  > tbody > tr > td {
    padding-top: 19px;
    padding-bottom: 20px;
    vertical-align: middle;
  }
  &.table-condensed > tbody > tr > td {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
