.form-control-feedback {
  width: $input-height-base !important;
  height: $input-height-base !important;
  line-height: $input-height-base !important;
}

.input-lg + .form-control-feedback {
  width: $input-height-large !important;
  height: $input-height-large !important;
  line-height: $input-height-large !important;
}
.input-sm + .form-control-feedback {
  width: $input-height-small !important;
  height: $input-height-small !important;
  line-height: $input-height-small !important;
}


.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    color: $validation-success-color;
  }
  .form-control {
    border-color: $validation-success-border-color;
  }
}

.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    color: $validation-warning-color;
  }
  .form-control {
    border-color: $validation-warning-border-color;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    color: $validation-error-color;
  }
  .form-control {
    border-color: $validation-error-border-color;
  }
}
