//== Colors
//
//## Gengo related colors
$customer-base-color       : #1CAD7E !default;
$translator-base-color     : #98D7CC !default;
$developer-base-color      : #EA5E47 !default;
$admin-base-color          : #4D4843 !default;

$base-text-color            : #4D4843 !default;
