@import "third_party/bootstrap/mixins";
@import "compass";
@import "variables";

.box {
  margin-bottom: 26px;
  padding-bottom: 21px;
  padding-left: 36px;
}

.colors {
  font-size: $font-size-small;

  h3 { margin-bottom: 18px; }
  .item { margin-bottom: 8px; }
  .color-box {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 96px;
    border-radius: 3px;

    &.gengo-green {
      background-color: $gengo-green;
    }
    &.translator-blue {
      background-color: $gengo-blue;
    }
    &.developer-red {
      background-color: $gengo-red;
    }
    &.gengo-lemon {
      background-color: $gengo-lemon;
    }
    &.gengo-lgreen {
      background-color: $gengo-lgreen;
    }
    &.gengo-beige {
      background-color: $gengo-beige;
    }
    &.gengo-gray {
      background-color: $gengo-gray;
    }
    &.gengo-bg {
      background-color: $body-bg;
    }
    &.gengo-white {
      background-color: #fff;
    }
    &.gengo-bg,
    &.gengo-white {
      border: 1px solid $table-border-color;
    }
  }
}

.bs-example {
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
  &:before,
  &:after {
    display: none;
  }
  .btn-toolbar {
    margin-top: 20px;
  }
  .dropdown-menu,
  .multiselect-container {
    position: static;
  }
  > .dropdown > .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 5px;
  }
}

// Navbar

.navbar-styles {
  .navbar {
    border: 1px solid $table-border-color;
  }
}

// Dropdonws

.dropdown-header {
  color: #a5a39f;
  font-size: 10px;
}

// ------ header -------------------------------
.ge-navbar-collapse {
  .navbar-nav {
    padding-left: 15px;
  }
}

.ge-nav {
  padding-top: 16px;
  padding-left: 10px;
  .nav > li > a {
    padding-right: 0;
  }
}

.ge-content {
  padding: {
    top: 13px;
    // right:13px;
    // left:23px;
  }
  h1[id] {
    padding-top: 30px;
  }
  hr {
    margin-top: 16px;
    margin-bottom: 0;
  }
  h2 {
    margin-top: 25px;
    margin-bottom: 20px;
    padding-left: 1px;
  }
}

.bs-editable {
  .ui {
    text-align: right;
  }
  .form-inline .form-group {
    margin-right: 0;
  }
}

//
// Style Page
// --------------------------------------------------

.logo-usage {

  [class^="col-"],
  [class*=" col-"] {
    margin-bottom: 24px;
  }

  h2 { margin-top: 6px; }
  hr { margin-bottom: 24px; }
  > p { margin-bottom: 34px; }

  .row p {
    margin: 6px 0 0;
  }

  .image-wrap {
    height: 180px;
    background-color: #efefef;
    position: relative;

    &:hover .download-links {
      display: block;
    }

    .download-links {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .75);
      text-align: center;

      .links {
        margin: 78px auto;
      }

      a {
        padding: 0 10px;
        color: #fff;
      }
    }
  }

}


.typography {
  .headers {
    margin: 23px 0 14px;

    h1,
    h2,
    h3,
    h4 {
      margin: 0;
      padding: 9px 0;
    }
  }

  > h2 { margin-bottom: 18px; }
  > ul,
  > ol { margin-bottom: 16px; }
  > p { margin-bottom: 12px; }

  > p,
  > blockquote p { max-width: 75%; }
}

// Icons & Favicons
.icons,
.doctype,
.favicons {
  [class^="col-"],
  [class*=" col-"] {
    margin-bottom: 34px;
  }

  > .row { margin-top: 16px; }

  hr { margin-bottom: 10px; }

  .item {
    border-radius: $border-radius-base;
    background-color: $body-bg;
    text-align: center;
  }
  .text {
    text-transform: uppercase;
    font-size: 10px;
  }
}

// Icons
.icons {
  [class^="icon-"],
  [class*=" icon-"] {
    display: block;
    font-size: $font-size-large;
  }
  .item { padding: 30px 0 20px; }
  .text { margin-top: 16px; }
}

.doctype {
  .item { padding: 24px 0 16px; }
}

// Favicons
.favicons {
  .item { padding: 24px 0 16px; }
  .text { margin-top: 8px; }
}

// Supported controls
#focusedinput {
  border-color: rgba($gengo-green, .8);
  outline: 0;
  box-shadow: 0 0 8px rgba($gengo-green, .6);
}
.translator #focusedinput {
  border-color: rgba($gengo-blue, .8);
  box-shadow: 0 0 8px rgba($gengo-blue, .6);
}

.developer #focusedinput {
  border-color: rgba($gengo-red, .8);
  box-shadow: 0 0 8px rgba($gengo-red, .6);
}

.admin #focusedinput {
  border-color: rgba($gengo-gray, .8);
  box-shadow: 0 0 8px rgba($gengo-gray, .6);
}
