@import "third_party/bootstrap/mixins";
@import "mixins";
@import "functions";
@import "variables";

body > .container {
  margin-bottom: 60px;
}

#back-to-top {
  bottom: -40px; // 24px
  transition: bottom .2s ease;

  a {
    color: $body-color;
    text-decoration: none;
    background-color: #fff;
    border-radius: 3px;
    padding: 6px 54px 6px 12px;
    display: block;

    &:hover {
      color: $brand-customer;
      i {
        color: $brand-customer;
      }
    }
  }

  i {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -7px;
    color: lighten($gengo-gray, 50%);
  }
}

.colors {
  font-size: $font-size-sm;

  h3 {
    margin-bottom: 18px;
    margin-top: -5px;
  }
  .item { margin-bottom: 8px; }
  .color-box {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 96px;
    border-radius: 3px;

    &.gengo-green {
      background-color: $gengo-green;
    }
    &.translator-blue {
      background-color: $gengo-blue;
    }
    &.developer-red {
      background-color: $gengo-red;
    }
    &.gengo-lemon {
      background-color: $gengo-lemon;
    }
    &.gengo-lgreen {
      background-color: $gengo-lgreen;
    }
    &.gengo-beige {
      background-color: $gengo-beige;
    }
    &.gengo-gray {
      background-color: $gengo-gray;
    }
    &.gengo-bg {
      background-color: $body-bg;
    }
    &.gengo-white {
      background-color: #fff;
    }
    &.gengo-bg,
    &.gengo-white {
      border: 1px solid $table-border-color;
    }
  }
}

.ge-nav-stacked.affix {
  position: fixed;
  top: 24px;
  max-width: 152px;
}

.bs-example {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
  &:before,
  &:after {
    display: none;
  }
  .btn-toolbar {
    margin-top: 20px;
  }
  .dropdown-menu,
  .multiselect-container {
    position: static;
  }
  > .dropdown > .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 5px;
  }
}

// Navbar

.navbar-styles {
  .navbar {
    border: 1px solid $table-border-color;
  }
}

.highlight {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}
.s { color: $gengo-red; }
.na { color: #79b1a5; }
.nt { color: $gengo-green; }



// ------ header -------------------------------

.ge-nav {
  padding-top: 16px;
  padding-left: 10px;
}

.ge-content {
  margin-top: 15px;
  margin-bottom: 20px;

  h1[id] {
    padding-top: 30px;
  }
  hr {
    margin-top: 16px;
    margin-bottom: 24px;

    &.no-bottom {
      margin-bottom: 0;
    }
  }
  h2 {
    margin-top: 25px;
    margin-bottom: 20px;
    padding-left: 1px;
  }
}

.bs-editable {
  .ui {
    text-align: right;
  }
  .form-inline .form-group {
    margin-right: 0;
  }
}


//
// Style Page
// --------------------------------------------------

.logo-usage {

  [class^="col-"],
  [class*=" col-"] {
    margin-bottom: 24px;
  }

  h2 { margin-top: 6px; }
  hr { margin-bottom: 24px; }
  > p { margin-bottom: 34px; }

  .row p {
    margin: 9px 0 0;
  }

  .image-wrap {
    height: 180px;
    background-color: #efefef;
    position: relative;
    border-radius: 3px;

    &:hover .download-links {
      display: block;
    }

    .download-links {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .75);
      text-align: center;

      .links {
        margin: 78px auto;
      }

      a {
        padding: 0 10px;
        color: #fff;
      }
    }

    .img-fit {
      width: 60%;
      height: auto;
      overflow: auto;
      margin: auto;
      position: absolute;
      top: 0; left: 10px; bottom: 0; right: 0;
      max-width: 144px;
      max-height: 51px;
    }

    &.gengo-green { background-color: $gengo-green; }
    &.gengo-gray { background-color: $gengo-gray; }
    &.gengo-blue { background-color: $gengo-blue; }
    &.gengo-red { background-color: $gengo-red; }
    &.gengo-white {
      background-color: #fff;
      border: 1px solid $table-border-color;
    }
    &.bg-image {
      background-color: transparent;
      background-image: url("../images/logos/bg_image.png");
      background-repeat: no-repeat;
      background-size: 240px 178px;
    }
    .logo-circle,
    &.minimal-spacing {
      background-color: transparent;
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }
    }
    .logo-circle img {
      max-width: 180px;
      height: auto;
      padding: 24px;
      overflow: auto;
      margin: auto;
      position: absolute;
      right: 0;
      left: 0;
    }

  }

}


.typography {
  .headers {
    margin: 23px 0 14px;

    h1,
    h2,
    h3,
    h4 {
      margin: 0;
      padding: 9px 0;
    }
  }

  > h2 { margin-bottom: 18px; }
  > ul,
  > ol { margin-bottom: 16px; }

  > p,
  > blockquote p { max-width: 75%; }
}

// Icons & Favicons
.icons,
.doctype,
.favicons {
  [class^="col-"],
  [class*=" col-"] {
    margin-bottom: 34px;
  }

  > .row { margin-top: 16px; }

  hr { margin-bottom: 10px; }

  .item {
    border-radius: $border-radius-lg;
    background-color: $body-bg;
    text-align: center;
  }
  .text {
    text-transform: uppercase;
    font-size: 10px;
  }
}

// Icons
.icons {
  [class^="icon-"],
  [class*=" icon-"] {
    display: block;
    font-size: $font-size-lg;
    opacity: .3;
  }
  .item { padding: 30px 0 20px; }
  .text { margin-top: 16px; }
}

.doctype {
  .item {
    padding: 24px 0 20px;

    &.grp { padding-top: 16px; }
  }
  .text { margin-top: 5px; }
}

// Favicons
.favicons {
  .item { padding: 24px 0 16px; }
  .text { margin-top: 8px; }
}

.apple-touch-icons {

  .row { margin-top: 16px; }
  .item { margin-bottom: 18px; }
  .text { margin-top: 8px; }

  [class^="apple-touch-"],
  [class*=" apple-touch-"] {
    display: inline-block;
    border-radius: 34px;
  }

  .apple-touch-customer {
    @include get-image("../images/apple-touch-icons/gengo_c_app", "png", 152px, 152px);
  }
  .apple-touch-translator {
    @include get-image("../images/apple-touch-icons/gengo_t_app", "png", 152px, 152px);
  }
  .apple-touch-developer {
    @include get-image("../images/apple-touch-icons/gengo_d_app", "png", 152px, 152px);
  }
  .apple-touch-admin {
    @include get-image("../images/apple-touch-icons/gengo_a_app", "png", 152px, 152px);
  }

}


//
// Voice Page
// --------------------------------------------------
.core-values,
.brand-statements,
.voice-and-tone {
  h3 {
    color: $gengo-green;
  }
}

.core-values,
.brand-statements {
  hr { margin-bottom: 32px; }
  h3 {
    margin-top: 29px;
    margin-bottom: 6px;
  }
  p {
    width: 85%;
    margin-bottom: 6px;
  }
  .small {
    color: $gengo-gray-light;
    margin-bottom: 3px;
  }
}
.brand-statements {
  h3 { margin-top: 14px; }
  .small { margin-bottom: 10px; }
}

.brand-character {
  hr { margin-bottom: 10px; }
  h3 { margin-bottom: 14px; }
  p { margin-bottom: 32px; }
  img {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
  }


  .customer li {
    background-image: url("../images/voice/c-brand-traits.png");
  }
  .translator li {
    background-image: url("../images/voice/t-brand-traits.png");
  }
  ul > li {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 12px;

    > div {
      display: inline-block;
      width: 49%;
      font-size: $font-size-sm;
    }

    .title {
      color: #fff;
      font-weight: $font-weight-semibold;
      padding-left: 17%;
    }
    .txt {
      color: $body-color;
      padding-left: 13%;
    }
  }
}

.users,
.voice-and-tone {
  hr { margin-bottom: 32px; }
  h3 { margin-bottom: 16px; }
  > p { margin-bottom: 0; }
}

.users {
  h2 { margin-top: 20px; }
  .customer {
    color: #a7ccac;
  }
  .translator {
    color: #95c8bf;
  }
}

.style-guide {
  hr { margin-bottom: 32px; }
  h2 {
    margin-top: 32px;
    margin-bottom: 12px;
  }
  h3 {
    margin-top: 16px;
    margin-bottom: 14px;
  }
  ul {
    padding-left: 30px;

    li {
      padding-left: 6px;
    }
  }

  .table {
    > thead > tr > th {
      color: $gengo-green;
      font-size: $h3-font-size;
      padding-bottom: 16px;
    }
    > tbody > tr > td {
      padding: 7px 0 7px 38px;
    }
  }
}


//
// Components Page
// --------------------------------------------------

.labels-example {
  .label {
    margin-right: 2px;
  }
}

.alerts-examples {
  hr {
    margin-bottom: 36px;
  }
  .highlight {
    margin-top: 6px;
  }
}

// Supported controls
#focusedinput {
  border-color: $gengo-lemon;
  outline: 0;
  box-shadow: 0 0 6px rgba($gengo-lemon, .6);
}
.translator #focusedinput {
  border-color: rgba($gengo-blue, .8);
  box-shadow: 0 0 6px rgba($gengo-blue, .6);
}

.developer #focusedinput {
  border-color: rgba($gengo-red, .8);
  box-shadow: 0 0 6px rgba($gengo-red, .6);
}

.admin #focusedinput {
  border-color: rgba($gengo-gray, .8);
  box-shadow: 0 0 6px rgba($gengo-gray, .6);
}

.helper-classes {
  .icon-close {
    opacity: .3;
  }
}


//
// Grid Page
// --------------------------------------------------
.grid {
  .container {
    margin-bottom: 36px;
  }
  .ge-show-grid {
    p {
      background-color: #dbefc4;
      text-align: center;
      font-weight: $font-weight-semibold;
      padding: 16px 0;
    }
  }
  .box .ge-show-grid p {
    background-color: #e1f4c9;
  }
  @media (max-width: 720px) {
    .mobile-disable {
      display: none;
    }
  }
}
