@import "third_party/bootstrap/mixins";
@import "compass";
@import "variables";

.box {
  margin-bottom: 26px;
  padding-bottom: 21px;
  padding-left: 33px;
}

.colors {
  font-size: $font-size-small;
  .color-box {
    display: block;
    margin: 15px 0;
    width: 100%;
    height: 96px;
    border-radius: 3px;
    &.gengo-green {
      background-color: $gengo-green;
    }
    &.translator-blue {
      background-color: $gengo-blue;
    }
    &.developer-red {
      background-color: $gengo-red;
    }
    &.gengo-lemon {
      background-color: $gengo-lemon;
    }
    &.gengo-lgreen {
      background-color: $gengo-lgreen;
    }
    &.gengo-beige {
      background-color: $gengo-beige;
    }
    &.gengo-gray {
      background-color: $gengo-gray;
    }
    &.gengo-bg {
      background-color: $body-bg;
    }
    &.gengo-white {
      background-color: #fff;
    }
    &.gengo-bg,
    &.gengo-white {
      border: 1px solid $table-border-color;
    }
  }
}

.bs-example {
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
  &:before,
  &:after {
    display: none;
  }
  .btn-toolbar {
    margin-top: 20px;
  }
  .dropdown-menu,
  .multiselect-container {
    position: static;
  }
  > .dropdown > .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 5px;
  }
}

// Navbar

.navbar-styles {
  .navbar {
    border: 1px solid $table-border-color;
  }
}

// Dropdonws

.dropdown-header {
  color: #a5a39f;
  font-size: 10px;
}

// ------ header -------------------------------
.ge-navbar-collapse {
  .navbar-nav {
    padding-left: 15px;
  }
}

.ge-nav {
  padding-top: 16px;
  padding-left: 10px;
  .nav > li > a {
    padding-right: 0;
  }
}

.ge-content {
  padding: {
    top: 13px;
    // right:13px;
    // left:23px;
  }
  h1[id] {
    padding-top: 30px;
  }
  hr {
    margin-top: 16px;
    margin-bottom: 0;
  }
  h2 {
    margin-top: 25px;
    margin-bottom: 20px;
  };
}


// Icons
.icons,
.doctype,
.favicons {
  margin-left: -32px;

  li {
    margin-bottom: 34px;
    margin-left: 32px;
    width: 102px;
    border-radius: $border-radius-base;
    background-color: $body-bg;
    text-align: center;
  }

  .text {
    text-transform: uppercase;
    font-size: 10px;
  }
}

.icons {
  [class^="icon-"],
  [class*=" icon-"] {
    display: block;
    font-size: $font-size-large;
  }
  li { padding: 30px 0 16px; }
  .text { margin-top: 12px; }
}

.doctype {
  li { padding: 24px 0 16px; }
}

// Favicons
.favicons {
  li {
    padding: 24px 0 10px;

    img {
      width: 32px;
      height: 32px;
    }
  }
  .text { margin-top: 4px; }
}
