@import "third_party/bootstrap/mixins";
@import "compass";
@import "variables";

// @import "fonts";
@import "icons";
@import "grid";

// customer
$brand-color: $brand-customer;
@import "navbar";

// developer
.developer {
  $brand-color: $brand-developer;
  @import "navbar";
}

// translator
.translator {
  $brand-color: $brand-translator;
  @import "navbar";
}

// translator
.admin {
  $brand-color: $brand-admin;
  @import "navbar";
}

body {}
