@import "third_party/bootstrap/mixins";
@import "compass";
@import "mixins";
@import "variables";

// @import "fonts";
@import "type";
@import "grid";
@import "buttons";
@import "button-groups";
@import "icons";
@import "doctype-icons";
@import "navs";
@import "forms";
@import "dropdowns";
@import "tables";
@import "editable-text";
@import "supported-controls";
@import "validation-states";
@import "control-sizing";
@import "badges";
@import "labels";
@import "modals";
@import "status";
@import "breadcrumbs";
@import "pagination";

// customer & default
$brand-color: $brand-customer;
@import "navbar";

// Designs for Developer pages
// .developer {
//   $brand-color: $brand-developer;
//   @import "navbar";
// }

// Styles for Translator pages
// .translator {
//   $brand-color: $brand-translator;
//   @import "navbar";
// }

// Styles for Admin pages
// .admin {
//   $brand-color: $brand-admin;
//   @import "navbar";
// }
