language: node_js
install: "./setup.sh"
script: grunt build
after_success: "./deploy.sh"
env:
  global:
  - secure: JEcQL/4CBVZXgU9fo/QVBUF7ILQVet6WY6wNpyRMYb0tmf+5G1s2jwJ74962C8mMqPAel5Fw5w74RfUVSCUzJUXe46Pvpk9HQFGXbYl+6UIx52Mv1poO2wf8B6jqY3gai52/OCU0UxwINfXs+Q+Ue3tnk0jBgg97egfDC6MBhfo=
