<div class="box alerts-examples">
  <h1 id="alerts">Alerts</h1>
  <hr/>

  <div class="bs-example" style="width:380px;">
    <div class="alert alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><i class="icon-close"></i></button>
      <strong>Heads up!</strong> This alert is not that important.
    </div>
    <div class="alert alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><i class="icon-close"></i></button>
      <i class="icon-warning"></i>
      <p><strong>Warning!</strong> This file could not be saved.</p>
    </div>
    <div class="alert alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><i class="icon-close"></i></button>
      <i class="icon-error"></i>
      <p><strong>Oops!</strong> There was an Error with the following file. <a href="#">All Games_Order.odt</a></p>
    </div>
    <div class="alert alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><i class="icon-close"></i></button>
      <i class="icon-validation"></i>
      <p><strong>Well done!</strong> You have successfully finished this job.</p>
    </div>
  </div>
  <br>
{% highlight html %}
<div class="alert alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <i class="icon-close"></i>
  </button>
  <strong>Heads up!</strong> This alert is not that important.
</div>

<div class="alert alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <i class="icon-close"></i>
  </button>
  <i class="icon-warning"></i>
  <p><strong>Warning!</strong> This file could not be saved.</p>
</div>
{% endhighlight %}
  <h2>Overlayed alerts</h2>
  <p>Add <code>.alert-container</code> into parent element</p>
  <div class="bs-example row alert-container" style="height:48px;">
    <div class="alert alert-success alert-overlay">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-close"></i></button>
      <i class="icon-warning"></i>
      <p><strong>Submit warning:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div>
  </div>
  <br>
  <div class="bs-example row alert-container" style="height:48px;">
    <div class="alert alert-success alert-overlay">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-close"></i></button>
      <i class="icon-error"></i>
      <p><strong>Submit error:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div>
  </div>
  <br>
  <div class="bs-example row alert-container" style="height:48px;">
    <div class="alert alert-success alert-overlay">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-close"></i></button>
      <i class="icon-validation"></i>
      <p><strong>Submit complete:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div>
  </div>
  <br>
{% highlight html %}
<div class="alert-container">
  <div class="alert alert-success alert-overlay">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      <i class="icon-close"></i>
    </button>
    <i class="icon-validation"></i>
    <p><strong>Submit complete:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
  </div>
</div>
{% endhighlight %}
</div>
