<div class="box">
  <h1 id="badges">Badges</h1>
  <hr/>

  <div class="bs-example">
    <div class="row">
      <ul class="nav nav-pills nav-stacked col-md-3">
        <li>
          <a href="#">
            <span class="badge pull-right">31</span>
            All
          </a>
        </li>
        <li class="active">
          <a href="#">
            <span class="badge pull-right">29</span>
            Pending
          </a>
        </li>
        <li>
          <a href="#">
            <span class="badge pull-right">2</span>
            Reviewable
          </a>
        </li>
      </ul>
      <ul class="nav nav-pills nav-stacked ge-dark col-md-3" style="background-color: #f4f4f4;">
        <li>
          <a href="#">
            <span class="badge pull-right">31</span>
            All
          </a>
        </li>
        <li class="active">
          <a href="#">
            <span class="badge pull-right">29</span>
            Pending
          </a>
        </li>
        <li>
          <a href="#">
            <span class="badge pull-right">2</span>
            Reviewable
          </a>
        </li>
      </ul>
    </div>
  </div>
  <br>
{% highlight html %}
<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="#">
      <span class="badge pull-right">31</span>
      All
    </a>
  </li>
  ...
</ul>

<!-- With dark backgorund -->
<ul class="nav nav-pills nav-stacked ge-dark">
  <li>
    <a href="#">
      <span class="badge pull-right">31</span>
      All
    </a>
  </li>
  ...
</ul>
{% endhighlight %}
  <div>If the background is <code>#f4f4f4</code>, the active state becomes <code>#ffffff</code></div>
</div>
