<div class="box">
  <h1 id="breadcrumb">Breadcrumb</h1>
  <hr/>

  <ol class="breadcrumb">
    <li>Home</li>
  </ol>
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Library</li>
  </ol>
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
  </ol>

</div>

<div class="box">
  <h1 id="pagination">Pagination</h1>
  <hr/>

  <div class="row">

    <form role="form" class="form-inline">
      <div class="form-group pagination col-xs-10">
        <button type="button" class="btn btn-default"><i class="icon-previous"></i></button>
        <input type="text" class="form-control" value="2">
        <span class="pages-text">of 10 pages</span>
        <button type="button" class="btn btn-default"><i class="icon-next"></i></button>
      </div>
    </form>

  </div>

</div>
