<div class="box">
  <h1 id="dropdowns">Dropdowns</h1>
  <hr/>

  <p>Toggleable, contextual menu for displaying lists of links. Made interactive with the dropdown JavaScript plugin.</p>

  <h2>Example</h2>
  <div class="bs-example">
    <div class="dropdown clearfix">
      <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
        Dropdown
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Personal</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Translator</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Manage</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
      </ul>
    </div>
  </div>
  <br>
{% highlight html %}
<div class="dropdown clearfix">
  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Personal</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Translator</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Manage</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
  </ul>
</div>
{% endhighlight %}
  <h2>Header</h2>
  <div class="bs-example">
    <div class="dropdown clearfix">
      <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation" class="dropdown-header">SWITCH ACCOUNT</li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Personal</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Translator</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Manage</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
      </ul>
    </div>
  </div>
  <br>
{% highlight html %}
<div class="dropdown clearfix">
  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation" class="dropdown-header">SWITCH ACCOUNT</li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Personal</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Translator</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Manage</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
  </ul>
</div>
{% endhighlight %}
  <h2>Disabled</h2>
  <div class="bs-example">
    <div class="dropdown clearfix">
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Personal</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Translator</a></li>
        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Manage</a></li>
      </ul>
    </div>
  </div>
  <br>
{% highlight html %}
<div class="dropdown clearfix">
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Personal</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Translator</a></li>
    <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Manage</a></li>
  </ul>
</div>
{% endhighlight %}





<div class="bs-example">
  <div class="row">
    <div class="col-md-5">
      <div class="dropdown clearfix open">
        <div class="btn-group open">
          <!-- <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button> -->
          <ul class="multiselect-container dropdown-menu">
            <li class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
              <input class="form-control multiselect-search" type="text" placeholder="Search">
            </li>
            <li class="">
              <a href="javascript:void(0);">
                <label class="checkbox"><input type="checkbox" name="multiselect" value="California"> California</label>
              </a>
            </li>
            <li class="active">
              <a href="javascript:void(0);">
                <label class="checkbox"><input type="checkbox" name="multiselect" value="Colorado" checked> Colorado</label>
              </a>
            </li>
            <li class="">
              <a href="javascript:void(0);">
                <label class="checkbox"><input type="checkbox" name="multiselect" value="Connecticut"> Connecticut</label>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="dropdown clearfix open">
        <div class="btn-group open">
          <!-- <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button> -->
          <ul class="multiselect-container dropdown-menu">
            <li class="">
              <a href="javascript:void(0);">
                <label class="checkbox"><input type="checkbox" name="multiselect" value="California"> California</label>
              </a>
            </li>
            <li class="active">
              <a href="javascript:void(0);">
                <label class="checkbox"><input type="checkbox" name="multiselect" value="Colorado" checked> Colorado</label>
              </a>
            </li>
            <li class="">
              <a href="javascript:void(0);">
                <label class="checkbox"><input type="checkbox" name="multiselect" value="Connecticut"> Connecticut</label>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

  <div class="row">
    <div class="col-md-5">
      <div class="dropdown clearfix">
        <select role="menu" aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-select-search" multiple="multiple">
          <option role="presentation"><a role="menuitem" tabindex="-1"  value="cheese">California</option>
          <option role="presentation"><a role="menuitem" tabindex="-1"  value="tomatoes">Colorado</option>
          <option role="presentation"><a role="menuitem" tabindex="-1"  value="mozarella">Connecticut</option>
        </select>
      </div>
    </div>
    <div class="col-md-5">
      <div class="dropdown clearfix">
        <select role="menu" aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-select" multiple="multiple">
          <option role="presentation"><a role="menuitem" tabindex="-1"  value="cheese">California</option>
          <option role="presentation"><a role="menuitem" tabindex="-1"  value="tomatoes">Colorado</option>
          <option role="presentation"><a role="menuitem" tabindex="-1"  value="mozarella">Connecticut</option>
        </select>
      </div>
    </div>
  </div>
<br>

<br>
{% highlight html %}
<div class="dropdown clearfix">
  <select role="menu" aria-labelledby="dropdownMenu" class="dropdown-menu dropdown-select-search" multiple="multiple">
    <option role="presentation"><a role="menuitem" tabindex="-1"  value="cheese">California</option>
    <option role="presentation"><a role="menuitem" tabindex="-1"  value="tomatoes">Colorado</option>
    <option role="presentation"><a role="menuitem" tabindex="-1"  value="mozarella">Connecticut</option>
  </select>
</div>

<div class="dropdown clearfix">
  <select role="menu" aria-labelledby="dropdownMenu" class="dropdown-menu dropdown-select" multiple="multiple">
    <option role="presentation"><a role="menuitem" tabindex="-1"  value="cheese">California</option>
    <option role="presentation"><a role="menuitem" tabindex="-1"  value="tomatoes">Colorado</option>
    <option role="presentation"><a role="menuitem" tabindex="-1"  value="mozarella">Connecticut</option>
  </select>
</div>

{% endhighlight %}


</div>

