<div class="box">
  <h1 id="editable-text">Editable text</h1>
  <hr>

<h2>simple text field </h2>
<div class="row bs-editable">
  <div class="col-md-6">
    <div>
      <div class="editable-input" style="position: relative;">
        <input type="text" class="form-control input-sm" style="padding-right: 24px;" value="superuser"><span class="editable-clear-x"></span></div><div class="editable-buttons"><button type="submit" class="btn btn-primary btn-sm editable-submit"><i class="glyphicon glyphicon-ok"></i></button><button type="button" class="btn btn-default btn-sm editable-cancel"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
    </div>
  </div>
  <div class="col-md-6 ui">
    <a id="username" href="#"  data-type="text" data-pk="1" data-title="Enter username">superuser</a>
  </div>
</div>



<br>
{% highlight html %}
<div class="hoge">definitely sample</div>
{% endhighlight %}

<h2>empty  text field, required </h2>
<br>
{% highlight html %}
<div class="hoge">definitely sample</div>
{% endhighlight %}

<h2>select, local array, custom display </h2>
<br>
{% highlight html %}
<div class="hoge">definitely sample</div>
{% endhighlight %}

<h2>select, remote array, no buttons </h2>
<br>
{% highlight html %}
<div class="hoge">definitely sample</div>
{% endhighlight %}

<h2>select, error while loading </h2>
<br>
{% highlight html %}
<div class="hoge">definitely sample</div>
{% endhighlight %}

<h2>Datepicker </h2>
<br>
{% highlight html %}
<div class="hoge">definitely sample</div>
{% endhighlight %}

<h2>Combodate (date) </h2>
<br>
{% highlight html %}
<div class="hoge">definitely sample</div>
{% endhighlight %}

<h2>Combodate (datetime) </h2>
<br>
{% highlight html %}
<div class="hoge">definitely sample</div>
{% endhighlight %}

<h2>ComboTextarea, buttons below </h2>
<br>
{% highlight html %}
<div class="hoge">definitely sample</div>
{% endhighlight %}

<h2>Twitter typehead.js </h2>
<br>
{% highlight html %}
<div class="hoge">definitely sample</div>
{% endhighlight %}

<h2>Checklist </h2>
<br>
{% highlight html %}
<div class="hoge">definitely sample</div>
{% endhighlight %}

<h2>Select2 (tags mode) </h2>
<br>
{% highlight html %}
<div class="hoge">definitely sample</div>
{% endhighlight %}


<h2>Select2 (tags dropdown mode) </h2>
<br>
{% highlight html %}
<div class="hoge">definitely sample</div>
{% endhighlight %}

<h2>Custom input, several fields </h2>
<br>
{% highlight html %}
<div class="hoge">definitely sample</div>
{% endhighlight %}

</div>
