<div class="box">
  <h1 id="supported-controls">Supported controls</h1>
  <hr/>

  <h2>Inputs</h2>
  <div class="bs-example">
    <input type="text" class="form-control input-sm" placeholder="Text input">
  </div>
<br>
{% highlight html %}
<input type="text" class="form-control" placeholder="Text input">
{% endhighlight %}

  <h2>Textarea</h2>
  <div class="bs-example">
    <textarea class="form-control" rows="4"></textarea>
  </div>
<br>
{% highlight html %}
<textarea class="form-control" rows="3"></textarea>
{% endhighlight %}

  <h2>Vertical checkboxes and radios</h2>
  <div class="bs-example">
    <form role="form">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Option one
        </label>
      </div>
      <div class="checkbox disabled">
        <label>
          <input type="checkbox" value="" disabled>
          Option two
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Option one
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Option two
        </label>
      </div>
      <div class="radio disabled">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
          Option three
        </label>
      </div>
    </form>
  </div>
<br>
{% highlight html %}
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Option one
  </label>
</div>
<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" disabled>
    Option two
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Option one
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Option two
  </label>
</div>
<div class="radio disabled">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
    Option three
  </label>
</div>
{% endhighlight %}

  <h2>Inline checkboxes</h2>
  <div class="bs-example">
    <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox1" value="option1" checked> 1
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
  </label>
</div>
<br>
{% highlight html %}
<div class="bs-example">
  <label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1" checked> 1
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
</label>
{% endhighlight %}

<h2>Selects</h2>
<div class="bs-example">
  <select class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div>
<br>
<div class="bs-example">
  <select multiple class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div>
<br>
{% highlight html %}
<select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
<br>
<select multiple class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
{% endhighlight %}

<h2>Static control</h2>
<div class="bs-example">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <p class="form-control-static">email@example.com</p>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
  </form>
</div>
<br>
{% highlight html %}
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <p class="form-control-static">email@example.com</p>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
  </form>
{% endhighlight %}

<h2>Input focus</h2>
<div class="bs-example">
    <form role="form">
      <input class="form-control" id="focusedinput" type="text" value="Demonstrative focus state">
    </form>
  </div>

<h2>Disabled inputs</h2>
<div>
<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
</div>
<br>
{% highlight html %}
<input class="form-control" type="text" placeholder="Disabled input here..." disabled>
{% endhighlight %}

<h2>Disabled fieldsets</h2>
<div class="bs-example">
  <form role="form">
    <fieldset disabled>
      <div class="form-group">
        <label for="disabledTextInput">Disabled input</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
      </div>
      <div class="form-group">
        <label for="disabledSelect">Disabled select menu</label>
        <select id="disabledSelect" class="form-control">
          <option>Disabled select</option>
        </select>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Can't check this
        </label>
      </div>
      <button type="submit" class="btn btn-default">Sign in</button>
    </fieldset>
  </form>
</div>
<br>
{% highlight html %}
<form role="form">
  <fieldset disabled>
    <div class="form-group">
      <label for="disabledTextInput">Disabled input</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
    </div>
    <div class="form-group">
      <label for="disabledSelect">Disabled select menu</label>
      <select id="disabledSelect" class="form-control">
        <option>Disabled select</option>
      </select>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Can't check this
      </label>
    </div>
    <button type="submit" class="btn btn-default">Sign in</button>
  </fieldset>
</form>
{% endhighlight %}
</div>
