<div class="box">
  <h1 id="tables">Tables</h1>
  <hr/>

  <table class="table">
    <thead>
      <tr>
        <th>REWARD</th>
        <th>TEXT</th>
        <th>LANG.</th>
        <th>WORDS</th>
        <th>TIME LEFT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$6.25</td>
        <td>Some random text here...</td>
        <td>en > jp</td>
        <td>8523</td>
        <td>6:56</td>
      </tr>
      <tr>
        <td>$321.24</td>
        <td>Some random text here...</td>
        <td>de > jp</td>
        <td>365</td>
        <td>13:22</td>
      </tr>
      <tr>
        <td>$33.24</td>
        <td>Some random text here...</td>
        <td>zh > jp</td>
        <td>187</td>
        <td>13:45</td>
      </tr>
      <tr>
        <td>$65.36</td>
        <td>Some random text here...</td>
        <td>ko > jp</td>
        <td>526</td>
        <td>8:12</td>
      </tr>
    </tbody>
  </table>

</div>
