<div class="box">
  <h1 id="validation-states">Validation States</h1>
  <hr/>

  <div class="bs-example">
    <div class="form-group has-success">
      <label class="control-label" for="inputSuccess1">Input with success</label>
      <input type="text" class="form-control input-sm" id="inputSuccess1">
    </div>
    <div class="form-group has-warning">
      <label class="control-label" for="inputWarning1">Input with warning</label>
      <input type="text" class="form-control input-sm" id="inputWarning1">
    </div>
    <div class="form-group has-error" style="right:0;">
      <label class="control-label" for="inputError1">Input with error</label>
      <input type="text" class="form-control input-sm" id="inputError1">
    </div>
  </div>
  <br>

{% highlight html %}
<div class="form-group has-success">
  <label class="control-label" for="inputSuccess1">Input with success</label>
  <input type="text" class="form-control input-sm" id="inputSuccess1">
</div>
<div class="form-group has-warning">
  <label class="control-label" for="inputWarning1">Input with warning</label>
  <input type="text" class="form-control input-sm" id="inputWarning1">
</div>
<div class="form-group has-error" style="right:0;">
  <label class="control-label" for="inputError1">Input with error</label>
  <input type="text" class="form-control input-sm" id="inputError1">
</div>
</div>
{% endhighlight %}

  <h2>With optional icons</h2>
  <div class="bs-example">
    <div class="form-group has-success has-feedback">
      <label class="control-label" for="inputSuccess2">Input with success</label>
      <input type="text" class="form-control input-sm" id="inputSuccess2">
      <span class="icon-validation form-control-feedback"></span>
    </div>
    <div class="form-group has-warning has-feedback">
      <label class="control-label" for="inputWarning2">Input with warning</label>
      <input type="text" class="form-control input-sm" id="inputWarning2">
      <span class="icon-warning form-control-feedback"></span>
    </div>
    <div class="form-group has-error has-feedback" style="right:0;">
      <label class="control-label" for="inputError2">Input with error</label>
      <input type="text" class="form-control input-sm" id="inputError2">
      <span class="icon-error form-control-feedback"></span>
    </div>
  </div>
  <br>
<br>
{% highlight html %}
<div class="form-group has-success has-feedback">
  <label class="control-label" for="inputSuccess2">Input with success</label>
  <input type="text" class="form-control input-sm" id="inputSuccess2">
  <span class="icon-validation form-control-feedback"></span>
</div>
<div class="form-group has-warning has-feedback">
  <label class="control-label" for="inputWarning2">Input with warning</label>
  <input type="text" class="form-control input-sm" id="inputWarning2">
  <span class="icon-warning form-control-feedback"></span>
</div>
<div class="form-group has-error has-feedback" style="right:0;">
  <label class="control-label" for="inputError2">Input with error</label>
  <input type="text" class="form-control input-sm" id="inputError2">
  <span class="icon-error form-control-feedback"></span>
</div>
{% endhighlight %}

  <div class="bs-example">

    <form class="form-horizontal" role="form">
      <div class="form-group has-success has-feedback">
        <label class="control-label col-sm-3" for="inputSuccess3">Input with success</label>
        <div class="col-sm-9">
          <input type="text" class="form-control input-sm" id="inputSuccess3">
          <span class="icon-validation form-control-feedback"></span>
        </div>
      </div>
    </form>
  </div>
<br>
{% highlight html %}
<form class="form-horizontal" role="form">
  <div class="form-group has-success has-feedback">
    <label class="control-label col-sm-3" for="inputSuccess3">Input with success</label>
    <div class="col-sm-9">
      <input type="text" class="form-control input-sm" id="inputSuccess3">
      <span class="icon-validation form-control-feedback"></span>
    </div>
  </div>
</form>
{% endhighlight %}

  <div class="bs-example">
    <form class="form-inline" role="form">
      <div class="form-group has-success has-feedback">
        <label class="control-label" for="inputSuccess4">Input with success</label>
        <input type="text" class="form-control input-sm" id="inputSuccess4">
        <span class="icon-validation form-control-feedback"></span>
      </div>
    </form>
  </div>
  <br>
{% highlight html %}
<form class="form-inline" role="form">
  <div class="form-group has-success has-feedback">
    <label class="control-label" for="inputSuccess4">Input with success</label>
    <input type="text" class="form-control input-sm" id="inputSuccess4">
    <span class="icon-validation form-control-feedback"></span>
  </div>
</form>
{% endhighlight %}

</div>
