<div class="box">
  <h1 id="favicons">Favicons</h1>
  <hr/>

  <div class="row favicons">
  {% for name in site.data.favicons %}
    <div class="col-xs-3 col-md-2">
      <div class="item">
        <img src="assets/images/docs/{{ name }}.png" width="32" height="32" alt="{{ name }}">
        <div class="text">{{ name }}</div>
      </div>
    </div>
  {% endfor %}
  </div>

{% highlight html %}
<link rel="icon" href="assets/favicons/gengo.ico" type="image/x-icon">
<link rel="icon" href="assets/favicons/customer.ico" type="image/x-icon">
<link rel="icon" href="assets/favicons/translator.ico" type="image/x-icon">
{% endhighlight %}

</div>
