<div class="box">
  <h1 id="introduction">Introducing the Gengo Style Guide</h1>
  <hr/>
  <p>Since Gengo was founded, the web and its technology have changed a lot. In that time our product has grown organically as well, making it a challenge for us to scale at speed in all areas of our platform.</p>
  <p>To carry us into the future, we’ve created a style guide. This guide will help us build consistently and quickly without needing oversight for every pixel and will also help us focus more on workflows and logic rather than bits and pieces like buttons and list items. It outlines:</p>
  <ul>
    <li>Logo, color and asset usage</li>
    <li>Voice, tone and style</li>
    <li>Platform components and layout</li>
  </ul>
  <p>It’s also a living reference tool for developers, designers, marketers, product managers and others, including our partners and those who want to build on top of our brand or use our assets.</p>
</div>
