<div class="box logo-usage">
  <h1 id="logo-usage">Logo</h1>
  <hr/>
  <p>The gengo logotype is custom designed to embody many of the aspirational qualities of the brand. Highly efficient, the letterforms are based on oval shapes and subtly contrasted stroke weight. The g and e blend into the background as the letters adapt to any environment they are placed.<br><br>As a rule, the logo should always be white against a solid color or can be used on top of a photograph depending on the image’s complexity and placement. The logo should have a generous amount of space on either side in order to breathe. Simplicity and white space is key.</p>

  <h2>Preferred</h2>
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="image-wrap gengo-green">
        <!-- TODO: add image -->
        <div class="download-links">
          <div class="links">
            <a href="#">PNG</a>
            <a href="#">SVG</a>
          </div>
        </div>
      </div>
      <p>For general public</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="image-wrap">
        <!-- TODO: add image -->
        <div class="download-links">
          <div class="links">
            <a href="#">PNG</a>
            <a href="#">SVG</a>
          </div>
        </div>
      </div>
      <p>For general public</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="image-wrap">
        <!-- TODO: add image -->
        <div class="download-links">
          <div class="links">
            <a href="#">PNG</a>
            <a href="#">SVG</a>
          </div>
        </div>
      </div>
      <p>Minimal spacing</p>
    </div>
  </div>

  <h2>Acceptable</h2>
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <!-- TODO: add image -->
      <div class="image-wrap gengo-gray"></div>
      <p>More neutral branding</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <!-- TODO: add image -->
      <div class="image-wrap"></div>
      <p>On a dark background image</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <!-- TODO: add image -->
      <div class="image-wrap"></div>
      <p>On white background</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <!-- TODO: add image -->
      <div class="image-wrap gengo-blue"></div>
      <p>Translator facing</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <!-- TODO: add image -->
      <div class="image-wrap gengo-red"></div>
      <p>Developer facing</p>
    </div>
  </div>

</div>
