<div class="box">
  <h1 id="platform">Building a scalable platform</h1>
  <hr/>
  <p>When it comes to UI, we’re building scalably with Bootstrap, which has the following advantages:</p>
  <ul>
    <li>Uses a solid 12-column grid system</li>
    <li>Makes using responsive media queries simple</li>
    <li>Takes a modular approach to styling through Sass</li>
  </ul>
  <p>Because our users live all around the globe, it’s essential to offer them a platform that fits into their very different work environments and tools. Building on Bootstrap will benefit translators and customers alike as we continue to adapt our product to different screen sizes and devices.</p>
  <p>Our vision is for everyone to read and publish across languages, with one click. From building our brand to expanding our platform, this style guide allows for us to create with the same simplicity. We hope that it serves you well, too.</p>
</div>
