<div class="box">
  <h1 id="buttons">Buttons</h1>
  <hr/>
  <h3>Options</h3>
  <div class="style-example">
    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <span class="translator">
      <button type="button" class="btn btn-primary">Translator</button>
    </span>
    <span class="developer">
      <button type="button" class="btn btn-primary">Developer</button>
    </span>
    <button type="button" class="btn btn-link">Link</button>
    <span class="translator">
      <button type="button" class="btn btn-link">Translators</button>
    </span>
    <span class="developer">
      <button type="button" class="btn btn-link">Developers</button>
    </span>
  </div>

  <h3>Sizes</h3>
  <div class="style-example">
    <p>
      <button type="button" class="btn btn-default btn-lg">Large Button</button>
      <button type="button" class="btn btn-primary btn-lg">Large Button</button>
      <span class="translator">
        <button type="button" class="btn btn-primary btn-lg">Large Button</button>
      </span>
      <span class="developer">
        <button type="button" class="btn btn-primary btn-lg">Large Button</button>
      </span>
    </p>
    <p>
      <button type="button" class="btn btn-default">Medium Button</button>
      <button type="button" class="btn btn-primary">Medium Button</button>
      <span class="translator">
        <button type="button" class="btn btn-primary">Medium Button</button>
      </span>
      <span class="developer">
        <button type="button" class="btn btn-primary">Medium Button</button>
      </span>
    </p>
    <p>
      <button type="button" class="btn btn-default btn-sm">Small Button</button>
      <button type="button" class="btn btn-primary btn-sm">Small Button</button>
      <span class="translator">
        <button type="button" class="btn btn-primary btn-sm">Small Button</button>
      </span>
      <span class="developer">
        <button type="button" class="btn btn-primary btn-sm">Small Button</button>
      </span>
    </p>
    <p>
      <button type="button" class="btn btn-default btn-xs">Small Button</button>
      <button type="button" class="btn btn-primary btn-xs">Small Button</button>
      <span class="translator">
        <button type="button" class="btn btn-primary btn-xs">Small Button</button>
      </span>
      <span class="developer">
        <button type="button" class="btn btn-primary btn-xs">Small Button</button>
      </span>
    </p>
  </div>

  <h3>Block level</h3>
  <div class="style-example row">
    <div class="col-xs-4">
      <button type="button" class="btn btn-default btn-block">Medium Button</button>
      <button type="button" class="btn btn-primary btn-block">Medium Button</button>
    </div>
  </div>

  <h3>Activated state</h3>
  <div class="style-example">
    <button type="button" class="btn btn-default active">Default</button>
    <button type="button" class="btn btn-primary active">Primary</button>
    <span class="translator">
      <button type="button" class="btn btn-primary active">Translator</button>
    </span>
    <span class="developer">
      <button type="button" class="btn btn-primary active">Developer</button>
    </span>
  </div>

  <h3>Disabled state</h3>
  <div class="style-example">
    <button type="button" class="btn btn-default disabled">Default</button>
    <button type="button" class="btn btn-primary disabled">Primary</button>
    <span class="translator">
      <button type="button" class="btn btn-primary disabled">Translator</button>
    </span>
    <span class="developer">
      <button type="button" class="btn btn-primary disabled">Developer</button>
    </span>
  </div>
</div>
