<div class="box">
  <h1 id="dropdowns">Dropdowns</h1>
  <hr/>

  <p>Toggleable, contextual menu for displaying lists of links. Made interactive with the dropdown JavaScript plugin.</p>

  <h2>Example</h2>
  <div class="bs-example">
    <div class="dropdown clearfix">
      <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
        Dropdown
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Personal</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Translator</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Manage</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
      </ul>
    </div>
  </div>

</div>
