<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <p>ACTIVE TRANSLATIONS</p>
      <ul class="nav">
        <li><a>Logo</a></li>
        <li><a>Color</a></li>
        <li><a>Typography</a></li>
        <li><a>Icons</a></li>
      </ul>
    </div>
    <div class="col-xs-10">
      <div class="box">
        <h1>Sidebar &amp; Box</h1>
        <div class="row ge-show-grid">
          <div class="col-xs-12"><p>1/1</p></div>
        </div>
        <div class="row ge-show-grid">
          <div class="col-xs-6"><p>1/2</p></div>
          <div class="col-xs-6"><p>1/2</p></div>
        </div>
        <div class="row ge-show-grid">
          <div class="col-xs-4"><p>1/3</p></div>
          <div class="col-xs-4"><p>1/3</p></div>
          <div class="col-xs-4"><p>1/3</p></div>
        </div>
        <div class="row ge-show-grid">
          <div class="col-xs-3"><p>1/4</p></div>
          <div class="col-xs-3"><p>1/4</p></div>
          <div class="col-xs-3"><p>1/4</p></div>
          <div class="col-xs-3"><p>1/4</p></div>
        </div>
        <div class="row ge-show-grid mobile-disable">
          <div class="col-xs-2"><p>1/6</p></div>
          <div class="col-xs-2"><p>1/6</p></div>
          <div class="col-xs-2"><p>1/6</p></div>
          <div class="col-xs-2"><p>1/6</p></div>
          <div class="col-xs-2"><p>1/6</p></div>
          <div class="col-xs-2"><p>1/6</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
