.ge-navbar {
  border-bottom: 1px solid #dddddd;
  background-color: white;
}
.ge-navbar .nav a {
  margin: 0 17px;
  padding: 14px 0 10px 0;
  border-bottom: solid 3px white;
  color: #4d4843;
  -webkit-transition: border-bottom-color 0.3s ease;
          transition: border-bottom-color 0.3s ease;
}
.ge-navbar .nav a:hover {
  background-color: transparent;
  border-bottom-color: #1cad7e;
}
@media (max-width: 768px) {
  .ge-navbar .nav a {
    margin: 0 13px;
    padding-right: 13px;
    padding-left: 13px;
    border-bottom: 0;
    border-radius: 3px;
    color: #fff;
    -webkit-transition: none;
            transition: none;
  }
}
.ge-navbar .nav .active a {
  border-bottom-color: #1cad7e;
}
.ge-navbar .navbar-brand {
  background-color: #1cad7e;
}
.ge-navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}

@media (max-width: 768px) {
  .customer .ge-navbar {
    background-color: #1cad7e;
  }
}
.customer .ge-navbar .nav a:hover,
.customer .ge-navbar .nav .active a {
  border-bottom-color: #1cad7e;
}
@media (max-width: 768px) {
  .customer .ge-navbar .nav a:hover,
  .customer .ge-navbar .nav .active a {
    background-color: #199B71;
  }
}
.customer .ge-navbar .navbar-brand {
  background-color: #1cad7e;
}

@media (max-width: 768px) {
  .translator .ge-navbar {
    background-color: #98d7cc;
  }
}
.translator .ge-navbar .nav a:hover,
.translator .ge-navbar .nav .active a {
  border-bottom-color: #98d7cc;
}
@media (max-width: 768px) {
  .translator .ge-navbar .nav a:hover,
  .translator .ge-navbar .nav .active a {
    background-color: #89C1B7;
  }
}
.translator .ge-navbar .navbar-brand {
  background-color: #98d7cc;
}

@media (max-width: 768px) {
  .developer .ge-navbar {
    background-color: #ea5e47;
  }
}
.developer .ge-navbar .nav a:hover,
.developer .ge-navbar .nav .active a {
  border-bottom-color: #ea5e47;
}
@media (max-width: 768px) {
  .developer .ge-navbar .nav a:hover,
  .developer .ge-navbar .nav .active a {
    background-color: #D25440;
  }
}
.developer .ge-navbar .navbar-brand {
  background-color: #ea5e47;
}

@media (max-width: 768px) {
  .admin .ge-navbar {
    background-color: #4d4843;
  }
}
.admin .ge-navbar .nav a:hover,
.admin .ge-navbar .nav .active a {
  border-bottom-color: #4d4843;
}
@media (max-width: 768px) {
  .admin .ge-navbar .nav a:hover,
  .admin .ge-navbar .nav .active a {
    background-color: #413C38;
  }
}
.admin .ge-navbar .navbar-brand {
  background-color: #4d4843;
}
