<div class="box">
  <h1 id="core-values">Core values</h1>
  <hr/>

  <p>
    <strong>Weniger, aber besser</strong><br>
    Less, but better (Dieter Rams)<br>
    日本語: より少なく、しかしより良く<br>
    Strive for simplicity. The communicator, not the receiver, should do the work.
  </p>

  <p>
    <strong>بالشعب و للشعب Bil-shaʿb wa lil-shaʿb</strong><br>
    By the people, for the people<br>
    日本語: 人々により、そして人々のために<br>
    We democratize translation, making it convenient and accessible to all. We’re here to improve the lives of everyone at Gengo—customers, translators and staff alike.
  </p>

  <p>
    <strong>改善 Kaizen</strong><br>
    Continuous improvement<br>
    As we work, we improve how we work. This is about listening, observation, research and defining standards, then improving on those standards to scale.
  </p>

  <p>
    <strong>故兵貴勝，不貴久 Gù bīng guì shèng, bù guì jiǔ</strong><br>
    What is essential in war is victory, not prolonged operations (Sun Tzu)<br>
    日本語: ゆえに兵は勝つことを貴ぶ。久しきを貴ばず<br>
    Everyone is focused on our mission, so we reduce bureaucracy. All actions, conversations and messages have purpose.
  </p>

  <p>
    <strong>Click. Boom. Amazing!</strong><br>
    (Steve Jobs)<br>
    日本語: クリック、ドカン、素晴らしい！<br>
    Our job is to create experiences that are truly exceptional, memorable and game-changing. At every step we should be thinking, “Am I doing amazing work here?” Truly amazing things aren't quick and flashy, but are solid and take years of hard work.
  </p>
</div>
