<div class="box">
  <h1 id="style-guide">Style guide</h1>
  <hr/>

  <h3>Spelling</h3>
  <ul>
    <li>Write Gengo, not gengo</li>
    <li>Use American spelling, e.g. realize, not realise</li>
  </ul>

  <h3>Capitalization</h3>
  <ul>
    <li>Use start case for all buttons and navigation menu items (capitalization of all words, regardless of the part of speech)</li>
    <li>Use sentence case for marketing copy, including titles</li>
    <li>Spell out acronyms and abbreviations in capital letters at first mention unless the short form is more common than the long form, e.g. DVD</li>
  </ul>

  <h3>Numbers</h3>
  <ul>
    <li>Don’t spell out percentages, e.g., 100% not 100 percent</li>
    <li>Don’t spell out small money amounts, e.g., $0.05, not five cents</li>
    <li>Spell out numbers under 10 and numbers at the start of a sentence
      <ul>
        <li>Ex: Twelve tigers ate my two dogs for dinner.</li>
      </ul>
    </li>
    <li>Use a hyphen to connect a number ending with “y” to another number, e.g., twenty-seven, not twenty seven</li>
    <li>Use figures when counting more than one thing
      <ul>
        <li>Ex: There are 100 people in 1 million organizations.</li>
      </ul>
    </li>
    <li>Decimals:
      <ul>
        <li>Place a 0 before decimals less than 1, e.g., 0.02 not .02</li>
        <li>In describing quantities in millions, use one decimal place at most</li>
        <li>In describing billions, use no more than two decimal places</li>
        <li>Always use decimals, never fractions</li>
      </ul>
    </li>
  </ul>

  <h3>Date and time</h3>
  <ul>
    <li>Format dates as follows:
      <ul>
        <li>Long form: month, date, year, e.g. Tuesday, September 27, 2011
        <li>Short form: mm/dd/yyyy, e.g. 9/27/2011</li>
      </ul>
    <li>Do not write in military time. Indicate time of day using using a.m. and p.m. with time zone, if needed
      <ul>
        <li>Ex: 1:33 p.m. PST, not 13:33</li>
      </ul>
    </li>
  </ul>

  <h3>Punctuation and italics</h3>
  <h4>Periods ( . )</h4>
  <ul>
    <li>Place periods within quotation marks</li>
  </ul>

  <h4>Commas ( , )</h4>
  <ul>
    <li>Use a comma to separate two adjectives (if the word “and” can be inserted)</li>
    <li>Use a comma at the end of certain abbreviations (like i.e. and etc.)
    <ul>
      <li>Ex: Letters, packages, etc., should go here.</li>
    </ul>
    </li>
    <li>Place commas within quotation marks</li>
  </ul>

  <h4>Quotation marks ( “ ” and ‘ ’ )</h4>
  <ul>
    <li>Always close quotation marks</li>
    <li>Don't use single quotes unless nesting them within double quotes
    <ul>
      <li>Ex: “The guy was like, ‘That’s ridiculous!’ and I was like, ‘Duh!’”</li>
    </ul>
    </li>
    <li>Periods and commas are always placed within quotation marks
    <ul>
      <li>Ex: We always preferred to “bear those ills we have.”</li>
      <li>Ex: “I don’t think so,” she replied.</li>
      <li>Exception: With computer terms and file names, punctuation is always outside of quotation marks to avoid error
      <ul>
        <li>Ex: Click on Save As; name your file “appendix A, v. 10”.</li>
      </ul>
      </li>
    </ul>
    </li>
    <li>Exclamation points and question marks are placed outside of quotation marks unless they belong with the quoted matter
    <ul>
      <li>Ex: Which of Shakespeare’s characters said, “All the world’s a stage”?</li>
      <li>Ex: “Where are the cookies?” she asked.</li>
    </ul>
    </li>
    <li>Semicolons and colons are placed outside of quotation marks</li>
  </ul>

  <h4>Semicolons ( ; )</h4>
  <ul>
    <li>In general, use sparingly</li>
    <li>Use to connect two independent clauses
    <ul>
      <li>Ex: There are 30 pages to the proposal; don't get discouraged.</li>
    </ul>
    </li>
    <li>Use for a list of items that contain internal punctuation
    <ul>
      <li>Ex: We traveled to New Orleans, Louisiana; San Francisco, California; and Seattle, Washington.</li>
    </ul>
    </li>
  </ul>

  <h4>Apostrophes</h4>
  <ul>
    <li>Don't use apostrophes for plurals of acronyms, abbreviations and years
    <ul>
      <li>Ex: CPUs, not CPU’s; the 1990s, not the 1990’s</li>
    </ul>
    </li>
  </ul>

  <h4>Hyphens and em dashes</h4>
  <ul>
    <li>Use hyphens (-) in URLs, email addresses, compound words and number spans</li>
    <li>Em dashes (—) often have the same function as commas, parentheses and colons when setting off distinct thoughts within sentences
    <ul>
      <li>Ex: My friends—that is, my former friends—ganged up on me.</li>
    </ul>
    </li>
    <li>Don’t use double hyphens (--) to replace dashes</li>
    <li>Making an em dash
    <ul>
      <li>On a Mac: hold down on shift + option and press hyphen ( - )</li>
      <li>On a PC: hold down on the alt key and type 015</li>
    </ul>
    </li>
  </ul>

<h3>Use this, not that</h3>
<ul>
  <li>Don’t use the word “immediately” in reference to translation times</li>
  <li>Don't put two spaces in between sentences</li>
  <li>Don't use technical terminology without explaining it</li>
  <li>Double-check company and product name capitalization (see below)</li>
</ul>

<table class="table">
    <thead>
      <tr>
        <th>Use this</th>
        <th>Instead of this</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>and</td>
        <td>&</td>
      </tr>
      <tr>
        <td>ecommerce (Ecommerce if capitalized)</td>
        <td>e-commerce, ECommerce</td>
      </tr>
      <tr>
        <td>email</td>
        <td>Email, e-mail</td>
      </tr>
      <tr>
        <td>internet</td>
        <td>Internet</td>
      </tr>
      <tr>
        <td>log in/log out (verb)</td>
        <td>log-in/log-out/sign-in/sign-out</td>
      </tr>
      <tr>
        <td>login/logout (adj., noun)</td>
        <td>log-in/log-out/sign-in/sign-out</td>
      </tr>
      <tr>
        <td>net</td>
        <td>Net</td>
      </tr>
      <tr>
        <td>online</td>
        <td>on line, Online, on-line</td>
      </tr>
      <tr>
        <td>PayPal</td>
        <td>Pay pal, Paypal</td>
      </tr>
      <tr>
        <td>PowerPoint</td>
        <td>Power Point, powerpoint</td>
      </tr>
      <tr>
        <td>startup (noun)</td>
        <td>start-up</td>
      </tr>
      <tr>
        <td>start-up (adj.)</td>
        <td>startup</td>
      </tr>
      <tr>
        <td>web</td>
        <td>Web</td>
      </tr>
      <tr>
        <td>webmaster, webcam, webmail, webzine</td>
        <td>web master, web cam, web mail, web zine </td>
      </tr>
      <tr>
        <td>website</td>
        <td>Web site</td>
      </tr>
    </tbody>
  </table>

  <h3>Press</h3>
  <p>Press releases follow AP style. Be careful of differences relative to Gengo style, especially those listed below:</p>
  <ul>
    <li>With headlines, all letters are capitalized regardless of length</li>
    <li>E-Commerce and e-commerce (AP), not Ecommerce or ecommerce (Gengo)</li>
  </ul>
</div>
