<div class="box">
  <h1 id="voice-and-tone">Voice and tone</h1>
  <hr/>

  <p>Getting the right tone of voice means Gengo customers recognize us as an efficient and solid service and authority on globalization, localization and translation. For translators, it means we are seen as a fair and reliable company and the definitive place for beginners.</p>

  <h3>Simple</h3>
  <p>We use clear, straightforward messaging with a <a href="http://www.feverbee.com/2012/02/personalityproblem.html">human touch</a>. Avoid ambiguity, jargon and complex wording. Be concise: tap the <a href="http://lifehacker.com/5909543/write-less-say-more-the-power-of-brevity">power of brevity</a>, channel Dieter Rams and always “just make it a bit shorter” (Robert Laing).</p>

  <h3>Human</h3>
  <p>Our human element sets us apart and our voice should reflect this. Language should be informal and familiar, active not passive and second rather than third person (e.g., “you” instead of “translators” or “you can publish all your content” instead of “ecommerce, travel and media companies can publish all their content”). If we make a mistake, we own it and say sorry—the <a href="https://medium.com/fertile-medium/how-to-apologize-online-5aaa969ce084">right way</a>.</p>

  <h3>Credible</h3>
  <p>Our voice is authoritative, but not dictatorial. We are mostly serious, but occasionally show our funny side (when appropriate: system errors or payment failure are not laughing matters). We are passionate about language and globalization, but not in a way that’s excitable or immature—keep emoticons and exclamation marks to a minimum!!!</p>

  <h3>International</h3>
  <p>Gengo does not belong to any one country or culture. Our customers, translators and staff come from all corners of the earth and many speak more than one language. We are culturally sensitive, but maintain a strong sense of identity across all languages.</p>
</div>
